.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 18px 26px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  &:hover {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &--primary {
    background: $gradient-primary;
  }

  &--transparent {
    @extend %text-gradient;
  }

}
