.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 18px 26px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  &:hover {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &--primary {
    background: linear-gradient(90.36deg, #46DD94 -0.66%, #23D3AB 101.59%, #17D6B3 101.59%);
  }

}
