header.header-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 8px 0;
  transition: all 0.3s ease;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 24px 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease;
  }
}

.header-logo {
  display: inline-flex;
  position: relative;

  @media (min-width: map_get($grid-breakpoints, md)) {
    height: 24px;
    width: 110px;
  }

  &__img {
    @extend %absolute;
    @extend %obj-cover;
    transition: all 0.3s ease;


    &--dark {
      opacity: 0;
    }
  }

  .header-logo-mobile {
    height: 24px;
    width: auto;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    color: $gray-100;
    font-weight: 500;
    padding: 0 20px;
  }
}

.header-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__btn {
    padding: 7px 16px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 16px;
  }
}

header.header--fixed {
  box-shadow: 0 12px 24px rgba(5, 13, 66, 0.12);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 16px 0;
  }

  &:before {
    background-color: #fff;
    height: 100%;
  }

  .header-logo {
    &__img {
      &--dark {
        opacity: 1;
      }

      &--white {
        opacity: 0;
      }
    }
  }

  .header-nav {
    &__item {
      color: $dark-7;
    }
  }

  .nav-btn {
    span {
      background-color: $dark-7;
    }
  }
}

