header.header-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 24px 0;
}

.header-logo {
  display: inline-flex;
  height: 24px;
  width: 110px;
  position: relative;

  &__img {
    @extend %absolute;
    @extend %obj-cover;

    &--dark {
      opacity: 0;
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    color: $gray-100;
    font-weight: 500;
    padding: 0 20px;
  }
}

.header-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__btn {
    padding: 7px 16px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 16px;
  }
}