{{ define "content" }}
<div class="content {{ .Params.content_class }} has-navbar-fixed-top">

    {{ partial "nav" . }}
    {{ partial "menu.html" }}

    <section class="heading">
        <h1 class="page-title" title="{{ .Title }}">{{ .Title }}</h1>
        <p class="page-description">{{ .Content }}</p>
    </section>

    <section class="questions">
        <div class="container">
            <article>
                <ul class="faq-items">
                    {{ range .Params.faq_list }}
                        <li>
                            <h2>{{ .title }}</h2>
                            <p>{{ .body | safeHTML}}</p>
                        </li>
                    {{ end }}
                </ul>
            </article>
        </div>
    </section>
</div>
{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}

