{{ define "content" }}
<div class="content {{ .Params.content_class }}">

    {{ partial "nav" . }}
    {{ partial "menu.html" }}

    <section class="hero hero-center">
        <h1 class="page-title" title="{{ .Title }}">{{ .Title }}</h1>
        <h2>{{ .Content }}</h2>
    </section>

    <section class="questions">
        <div class="container">
            <article>
                <ul class="questions-items">
                    {{ range .Params.faq_list }}
                        <li>
                            <h2>{{ .title }}</h2>
                            <p>{{ .body | safeHTML}}</p>
                        </li>
                    {{ end }}
                </ul>
            </article>
        </div>
    </section>
</div>
{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}

