//Intro section

section.about-intro-section {
  height: 100vh;
  padding-top: 140px;
  background-color: $dark-11;
  min-height: 600px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    max-height: 750px;
    min-height: 0;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 144px 0;
    max-height: 680px;
    min-height: 0;
  }
}

.about-intro-bg {
  img {
    @extend %absolute;
    @extend %obj-cover;
  }
}

.about-intro-title {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  margin-bottom: 24px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: 50px;
    line-height: 130%;
    text-align: left;
  }
}

.about-intro-description {
  color: $gray-100;
}

//About content

section.about-content-section {
  padding-top: 48px;
  padding-bottom: 40px;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

.about-content {
  color: $dark-7;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;

  p {
    margin-bottom: 20px;
  }
}

//Team members

section.team-section {
  padding: 40px 0;
  background-color: $purple-100;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: 100px 0;
  }
}

.team-bg {
  position: absolute;
  left: 50%;
  bottom: 60%;
  transform: translateX(-50%);

  @media (min-width: map_get($grid-breakpoints, md)) {
    bottom: 15%;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    bottom: 25%;
  }
}

.team-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 24px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    text-align: center;
    margin-bottom: 32px;
    font-size: 50px;
  }
}

.team-text {
  @media (min-width: map_get($grid-breakpoints, xl)) {
    column-count: 2;
    column-gap: 64px;
  }
}

.team-members {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: map_get($grid-breakpoints, md)) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 56px;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    justify-content: center;
  }

  .member {
    text-align: center;
    margin-bottom: 32px;

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin-bottom: 0 24px;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      margin: 0 60px;
    }

    &__photo {
      width: 160px;
      height: 160px;
      background-color: #fff;
      border: 1px solid $gray-100;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin-bottom: 24px;

      img {
        @extend %absolute;
        @extend %obj-cover;
      }
    }

    &__name {
      font-weight: 700;
      font-size: 18px;
      color: $dark-9;
      margin-bottom: 12px;
    }

    &__position {
      font-size: 16px;
      margin-bottom: 8px;
    }

    &__linkedin {
      svg {
        fill: $gray-400;
      }
    }
  }
}

//Our story

section.our-story-section {
  padding: 40px 0;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 100px 0;
  }
}

.our-story-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 24px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: 50px;
    text-align: center;
    margin-bottom: 32px;
  }
}

.our-story {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: $dark-7;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    column-count: 2;
    column-gap: 64px;
  }
}
