//Intro section

section.about-intro-section {
  padding-top: rem(140);
  background-color: $dark-11;
  min-height: rem(600);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(144) 0;
    min-height: rem(680);
  }
}

.about-intro-bg {
  img {
    @extend %absolute;
    @extend %obj-cover;
  }
}

.about-intro-title {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: rem(50);
    line-height: 130%;
    text-align: left;
  }
}

.about-intro-description {
  color: $gray-100;
}

//About content

section.about-content-section {
  padding-top: 3rem;
  padding-bottom: rem(40);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding-top: rem(120);
    padding-bottom: rem(100);
  }
}

.about-content {
  color: $dark-7;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 170%;

  p {
    margin-bottom: rem(20);
  }
}

//Team members

section.team-section {
  padding: rem(40) 0;
  background-color: $purple-100;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(100) 0;
  }
}

.team-bg {
  position: absolute;
  left: 50%;
  bottom: 60%;
  transform: translateX(-50%);

  @media (min-width: map_get($grid-breakpoints, md)) {
    bottom: 15%;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    bottom: 25%;
  }
}

.team-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    text-align: center;
    margin-bottom: 2rem;
    font-size: rem(50);
  }
}

.team-text {
  @media (min-width: map_get($grid-breakpoints, xl)) {
    column-count: 2;
    column-gap: 4rem;
  }
}

.team-members {
  margin-top: rem(40);
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: map_get($grid-breakpoints, md)) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3.5rem;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    justify-content: center;
  }

  .member {
    text-align: center;
    margin-bottom: 2rem;

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin-bottom: 0 1.5rem;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      margin: 0 rem(60);
    }

    &__photo {
      width: rem(160);
      height: rem(160);
      background-color: #fff;
      border: 1px solid $gray-100;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin-bottom: 1.5rem;

      img {
        @extend %absolute;
        @extend %obj-cover;
      }
    }

    &__name {
      font-weight: 700;
      font-size: 1.125rem;
      color: $dark-9;
      margin-bottom: 0.75rem;
    }

    &__position {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    &__linkedin {
      svg {
        fill: $gray-400;
      }
    }
  }
}

//Our story

section.our-story-section {
  padding: rem(40) 0;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(100) 0;
  }
}

.our-story-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: rem(50);
    text-align: center;
    margin-bottom: 2rem;
  }
}

.our-story {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 170%;
  color: $dark-7;

  //@media (min-width: map_get($grid-breakpoints, xl)) {
  //  column-count: 2;
  //  column-gap: 4rem;
  //}
}
