section.contact-section {
  min-height: 100vh;
  padding: rem(120) 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(120) 0;
  }
}

.contact-bg {
  @extend %absolute;
  @extend %obj-cover;
}

//.contact-us-container {
//  @media (max-width: map_get($grid-breakpoints, md)) {
//    padding: 0;
//  }
//}

.contact-title {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: rem(50);
    font-weight: 700;
    text-align: center;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    text-align: left;
  }
}

.contact-text {
  font-size: 1.125rem;
  color: $gray-100;
  margin-bottom: rem(40);

  @media (min-width: map_get($grid-breakpoints, md)) {
    text-align: center;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    text-align: left;
  }
}

//Form

.contact-form {
  background-color: #fff;
  padding: 2rem 1rem;
  margin: 0 -15px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    border-radius: 1rem;
    margin: 0;
    padding: rem(40);
  }
}

.recaptcha {
  font-size: rem(10);
  line-height: rem(13);
  text-align: center;
  color: $gray-400;
  margin-bottom: 1.5rem;

  a {
    color: $dark-8;
  }
}

.contact-wrap {
  position: relative;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.submit-message-wrap {
  @extend %absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;

  @media (min-width: map_get($grid-breakpoints, md)) {
    text-align: center;
  }
}

.submit-message-title {
  font-weight: 500;
  font-size: rem(50);
  margin-bottom: 1.5rem;
  color: #fff;
}

.submit-message-text {
  color: $gray-100;
  margin-bottom: rem(40);
}

.contact-section--submitted {
  .contact-wrap {
    opacity: 0;
  }

  .submit-message-wrap {
    opacity: 1;
  }
}
