footer.footer-section {
  background-color: $dark-11;
  padding-top: rem(40);
  position: relative;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(40) rem(100) 0;
  }
}

.footer-logo {
  display: inline-flex;
  margin-bottom: 0.75rem;

  img {
    height: 1.5rem;
    width: auto;
  }
}

.footer-logo-description {
  margin-bottom: 1.5rem;
  color: $gray-100;
  font-size: 0.875rem;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: 0;
  }

  &__item {
    fill: $gray-400;
    margin-right: rem(25);
  }
}

.footer-subscribe {
  width: 100%;
  max-width: rem(450);
  margin-bottom: 2rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(40);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: rem(21);
    color: #eeeef4;
    margin-bottom: 1rem;
  }

  &__field {
    margin-bottom: 0.75rem;

    input {
      border-color: $gray-500;
      color: $dark-1;
    }
  }

  &__btn {
    padding: rem(7) rem(15);
    font-size: 0.875rem;
    margin-top: 1rem;
  }

  .footer-subscribe-step1.hidden {
    display: none;
  }

  .footer-subscribe-step2 {
    display: none;

    &.active {
      display: block;
      font-size: 1rem;
      line-height: rem(21);
      color: $dark-1;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  input {
    display: none;
  }

  &__field {
    width: rem(22);
    height: rem(22);
    background-color: $dark-11;
    border: 1px solid $dark-7;
    border-radius: 4px;
    margin-right: 0.75rem;
  }

  &__label {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: $gray-100;
  }

  input:checked + .checkbox__field {
    background-color: #fff;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;

  &__item {
    font-weight: 500;
    font-size: 0.875rem;
    color: $gray-100;
    margin-bottom: 1rem;
  }
}

.dev-line {
  margin-top: rem(40);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: 0 rem(40);
  }

  &__text {
    padding: 1rem 0;
    font-size: 0.875rem;
    color: $gray-400;
    text-align: center;
    border-top: 1px solid $dark-7;
  }
}
