footer.footer-section {
  background-color: $dark-11;
  padding-top: 40px;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: 40px 100px 0;
  }
}

.footer-logo {
  display: inline-flex;
  margin-bottom: 12px;

  img {
    height: 24px;
    width: auto;
  }
}

.footer-logo-description {
  margin-bottom: 24px;
  color: $gray-100;
  font-size: 14px;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: 0;
  }

  &__item {
    fill: $gray-400;
    margin-right: 25px;
  }
}

.footer-subscribe {
  width: 100%;
  max-width: 450px;
  margin-bottom: 32px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: 40px;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $dark-1;
    margin-bottom: 16px;
  }

  &__field {
    height: 32px;
    border: 1px solid $gray-500;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    padding: 0 8px;
    background-color: transparent;
    margin-bottom: 12px;

    &::placeholder {
      color: $gray-400;
    }
  }

  &__btn {
    padding: 7px 36px;
    font-size: 14px;
    margin-top: 16px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  input {
    display: none;
  }

  &__field {
    width: 22px;
    height: 22px;
    background-color: $dark-11;
    border: 1px solid $dark-7;
    border-radius: 4px;
    margin-right: 12px;
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $gray-100;
  }

  input:checked + .checkbox__field {
    background-color: #fff;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;

  &__item {
    font-weight: 500;
    font-size: 14px;
    color: $gray-100;
    margin-bottom: 16px;
  }
}

.dev-line {
  margin-top: 40px;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: 0 40px;
  }

  &__text {
    padding: 16px 0;
    font-size: 14px;
    color: $gray-400;
    text-align: center;
    border-top: 1px solid $dark-7;
  }
}
