header.header-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0.5rem 0;
  transition: all 0.3s ease;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(20) 0;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    // transition: all 0.3s ease;
  }
}

.header-logo {
  display: flex;
  position: relative;

  @media (min-width: map_get($grid-breakpoints, md)) {
    height: 1.5rem;
    width: rem(108);
  }

  &__img {
    @extend %absolute;
    @extend %obj-cover;
    // transition: all 0.3s ease;

    &--dark {
      opacity: 0;
    }
  }

  .header-logo-mobile {
    height: 1.5rem;
    width: auto;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    color: $gray-100;
    font-weight: 500;
    margin: 0 rem(20);
    position: relative;
    font-size: rem(16);

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 6px;
      height: 2px;
      background-color: #fff;
      opacity: 0;
    }

    &.active {
      color: #fff;

      &:after {
        opacity: 1;
      }
    }
  }
}

.header-auth {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__btn {
    padding: rem(7) rem(16) rem(7);
    font-size: rem(14);
    line-height: rem(18);
    
    &:not(:last-child) {
      margin-right: rem(16);
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
      padding: rem(9) rem(24) rem(10);
      font-size: rem(16);
      line-height: rem(21);
      
      &:not(:last-child) {
        margin-right: rem(32);
      }
    }

    &.btn--secondary {
      .btn__first-layer {
        background: transparent;
        border: 1px solid $green-dark;
      }

      .btn__second-layer {
        display: none;
      }
  
      &:hover:not(:disabled), &:active:not(:disabled) {
        color: #008669;
  
        .btn__first-layer {
          background: transparent;
          border: 1px solid #008669;
        }
      }
    }
  }
}

.advisors-login {
  display: none;
  position: absolute;
  right: 246px;
  padding-right: rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    display: block;
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    right: 260px;
  }

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: rem(40);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $gray-100;
  }
}

.advisors-login__link {
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(22);
  color: $green-dark;
  white-space: nowrap;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

header.header-section--white {
  //background-color: #fff;

  & + section {
    margin-top: rem(50);

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin-top: rem(80);
    }
  }

  .header-logo {
    &__img {
      &--dark {
        opacity: 1;
      }

      &--white {
        opacity: 0;
      }
    }
  }

  .header-nav {
    &__item {
      color: $dark-7;
    }
  }

  .nav-btn {
    span {
      background-color: $dark-7;
    }
  }

  .header-auth {
    &__btn {
      &.btn--secondary {
        .btn__first-layer {
          background: $gradient-primary;
          border: none;
        }
  
        .btn__second-layer {
          display: block;
        }
    
        &:hover:not(:disabled), &:active:not(:disabled) {
          color: #008669;
    
          .btn__first-layer {
            background: $gradient-primary-strong;
            border: none;
          }
        }
      }
    }
  }
}

header.header--fixed {
  box-shadow: 0 0.75rem 1.5rem rgba(5, 13, 66, 0.12);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(20) 0;
  }

  &:before {
    background-color: #fff;
    height: 100%;
  }

  .header-logo {
    &__img {
      &--dark {
        opacity: 1;
      }

      &--white {
        opacity: 0;
      }
    }
  }

  .header-nav {
    &__item {
      color: $dark-7;
    }
  }

  .nav-btn {
    span {
      background-color: $dark-7;
    }
  }

  .header-auth {
    &__btn {
      &.btn--secondary {
        .btn__first-layer {
          background: $gradient-primary;
          border: none;
        }
  
        .btn__second-layer {
          display: block;
        }

        &:hover:not(:disabled), &:active:not(:disabled) {
          color: #008669;
    
          .btn__first-layer {
            background: $gradient-primary-strong;
            border: none;
          }
        }
      }
    }
  }
}

header.header--fixed,
header.header-section--white {
  .header-nav {
    &__item {
      &.active {
        color: $dark-11;

        &:after {
          background-color: $dark-11;
        }
      }
    }
  }
}

//header nav menu
.header-nav-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: none;

  &--active {
    pointer-events: auto;

    .nav-menu-mask {
      opacity: 1;
    }

    .nav-menu {
      transform: translateX(0);
    }
  }
}

.nav-menu-mask {
  @extend %absolute;
  opacity: 0;
  background-color: rgba($dark-11, 0.4);
  transition: opacity 0.5s ease;
  z-index: 1;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: rem(320);
  height: 100%;
  background-color: #fff;
  transform: translateX(101%);
  transition: transform 0.5s ease;
  z-index: 2;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0.75rem;
    margin-bottom: 0.5rem;

    &__logo {
      height: 1.5rem;

      img {
        height: 100%;
        width: auto;
      }
    }

    &__close {
      width: 1.125rem;
      height: 1.125rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      svg {
        fill: $gray-400;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__item {
      padding: rem(12);
      font-weight: 500;
      font-size: 1rem;
      line-height: rem(21);
      color: $dark-9;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0.75rem;
        right: 0.75rem;
        bottom: 0;
        height: 1px;
        background-color: $gray-200;
      }

      &:hover, &.active {
        background-color: #e6fbf5;
        color: $green-dark;

        &:after {
          display: none;
        }
      }
    }
  }

  &-auth {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;

    &__btn {
      padding: 7px;
      font-size: 0.875rem;
      margin-top: 1.5rem;
    }
  }
}
