header.header-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0.5rem 0;
  transition: all 0.3s ease;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 1.5rem 0;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease;
  }
}

.header-logo {
  display: inline-flex;
  position: relative;

  @media (min-width: map_get($grid-breakpoints, md)) {
    height: 1.5rem;
    width: rem(110);
  }

  &__img {
    @extend %absolute;
    @extend %obj-cover;
    transition: all 0.3s ease;

    &--dark {
      opacity: 0;
    }
  }

  .header-logo-mobile {
    height: 1.5rem;
    width: auto;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    color: $gray-100;
    font-weight: 500;
    margin: 0 rem(20);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 6px;
      height: 2px;
      background-color: #fff;
      opacity: 0;
    }

    &.active {
      color: #fff;

      &:after {
        opacity: 1;
      }
    }
  }
}

.header-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__btn {
    padding: rem(7) 1rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-left: 1rem;
  }
}

header.header-section--white {
  background-color: #fff;

  & + section {
    margin-top: rem(50);

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin-top: rem(80);
    }
  }

  .header-logo {
    &__img {
      &--dark {
        opacity: 1;
      }

      &--white {
        opacity: 0;
      }
    }
  }

  .header-nav {
    &__item {
      color: $dark-7;
    }
  }

  .nav-btn {
    span {
      background-color: $dark-7;
    }
  }
}

header.header--fixed {
  box-shadow: 0 0.75rem 1.5rem rgba(5, 13, 66, 0.12);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 1rem 0;
  }

  &:before {
    background-color: #fff;
    height: 100%;
  }

  .header-logo {
    &__img {
      &--dark {
        opacity: 1;
      }

      &--white {
        opacity: 0;
      }
    }
  }

  .header-nav {
    &__item {
      color: $dark-7;
    }
  }

  .nav-btn {
    span {
      background-color: $dark-7;
    }
  }
}

//header nav menu
.header-nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  transform: translateX(101%);
  transition: all 0.5s ease;

  &--active {
    transform: translateX(0);
  }
}

.nav-menu-mask {
  @extend %absolute;
  z-index: 1;
  background-color: rgba($dark-11, 0.4);
  transition: opacity 0.5s ease;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(320);
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0.75rem;
    margin-bottom: 0.5rem;

    &__logo {
      height: 1.5rem;

      img {
        height: 100%;
        width: auto;
      }
    }

    &__close {
      width: 1.125rem;
      height: 1.125rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      svg {
        fill: $gray-400;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__item {
      padding: 0.75rem;
      font-weight: 500;
      font-size: 1rem;
      color: #1a1f43;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0.75rem;
        right: 0.75rem;
        bottom: 0;
        height: 1px;
        background-color: $gray-200;
      }

      &.active {
        background-color: #e6fbf5;
        color: $green-dark;

        &:after {
          display: none;
        }
      }
    }
  }

  &-auth {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;

    &__btn {
      padding: 7px;
      font-size: 0.875rem;
      margin-top: 1.5rem;
    }
  }
}
