section.pricing-intro-section {
  padding-top: 88px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding-top: 56px;
  }
}

.pricing-title {
  font-weight: 700;
  font-size: 2rem;
  color: $dark-9;
  margin-bottom: 24px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding-top: 56px;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
  }
}

.pricing-text {
  margin-bottom: rem(40);
  color: $gray-600;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    text-align: center;
  }
}

//Pricing

section.pricing-section {
  padding: 80px 0;
}

.pricing-bg {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    height: 100%;
    top: 0;
    object-fit: contain;
  }
}

.tab-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(40);

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 50%;
    max-width: 220px;
    background: #ffffff;
    border: 1px solid #e3e5ed;
    font-weight: 700;
    font-size: 20px;
    //overflow: hidden;
    color: $dark-7;
    position: relative;
    transition: all 0.5s ease;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        90.36deg,
        #46dd94 -0.66%,
        #23d3ab 101.59%,
        #17d6b3 101.59%
      );
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &:first-child {
      border-radius: rem(40) 0 0 rem(40);

      &:before {
        border-radius: rem(40) 0 0 rem(40);
      }
    }

    &:last-child {
      border-radius: 0 rem(40) rem(40) 0;

      &:before {
        border-radius: 0 rem(40) rem(40) 0;
      }
    }

    &--active {
      border: none;
      color: #fff;

      &:before {
        opacity: 1;
      }

      .action-type {
        opacity: 1;
      }
    }
  }
}

.action-type {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 60%;
  bottom: 100%;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 23px;
  color: #00b08b;
  margin-bottom: 10px;
  opacity: 0;
  transition: all 0.5s ease;

  svg {
    margin-left: 5px;
    fill: #00b08b;
    transform: rotate(-59.71deg);
  }
}

.tab {
  background-color: #fff;
  box-shadow: 0 1rem 64px rgba(126, 130, 158, 0.16);
  border: 1px solid $gray-200;
  border-radius: 1rem;
  display: none;

  &--active {
    display: block;
  }

  .tab-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    border-bottom: 1px solid $gray-200;

    &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
      color: $dark-9;
    }

    &__label {
      padding: 8px 1rem;
      font-weight: 500;
      font-size: 1rem;
      line-height: 21px;
      color: #fff;
      background-color: #6266c6;
      margin-top: 8px;
      border-radius: 4px;
    }
  }
}

.tab-content {
  padding: rem(40) 1rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(40) 50px;
  }

  .price {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__value {
      font-weight: 700;
      font-size: 50px;
      line-height: 130%;
      color: $dark-9;
    }

    &__period {
      font-weight: 400;
      font-size: 1rem;
      color: $gray-400;
      margin-bottom: 12px;
    }
  }

  .billing {
    font-size: 1rem;
    line-height: 21px;
    text-align: center;
    color: $gray-600;
    margin-bottom: 8px;
  }

  .action {
    font-weight: 700;
    font-size: 1rem;
    line-height: 21px;
    text-align: center;
    color: #6266c6;
  }
}

.tab-content-list {
  margin-top: rem(40);

  .tab-list-item {
    display: flex;
    margin-bottom: 12px;

    padding: 5px 0;

    &__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $green;
      margin-right: 8px;
      margin-top: 5px;

      svg {
        fill: #fff;
      }
    }

    &__text {
      font-size: 1.125rem;
      color: $gray-600;
      flex: 1;
      line-height: 170%;
    }
  }
}

.tab-content-btn {
  margin-top: 32px;
  text-align: center;
}

//Faq

.pricing-faq-title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 56px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-weight: 700;
    font-size: rem(40);
    line-height: 52px;
  }
}
