section.security-intro-section {
  padding: rem(50) 0;
  min-height: rem(610);
  margin-top: 0;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: rem(560);
    margin-top: 0 !important;
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    min-height: rem(740);
  }
}

.security-intro-bg {
  width: 100%;
  margin-top: -20px;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    margin-top: 0;
  }

  img {
    width: 100%;
    height: auto;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      object-fit: cover;
      object-position: right center;
      width: 100%;
      height: 100%;
    }
  }
}

.security-intro-title {
  font-weight: 700;
  font-size: rem(32);
  line-height: rem(42);
  color: $dark-9;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: rem(50);
    line-height: 130%;
    margin-bottom: 2rem;
  }
}

.security-content-section {
  .container {
    .security-content-item {
      padding-top: rem(48);

      @media (min-width: map_get($grid-breakpoints, xl)) {
        padding: rem(100) 0;
        border-bottom: 1px solid $gray-200;
      }

      &:first-child {
        @media (min-width: map_get($grid-breakpoints, xl)) {
          padding-top: rem(48);
        }
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;

        @media (min-width: map_get($grid-breakpoints, xl)) {
          padding-bottom: rem(48);
        }
      }
    }
  }
}

.security-content-img {
  text-align: center;

  img {
    display: inline-flex;
    width: auto;
    max-width: 100%;
  }
}

.security-content-title {
  font-weight: 700;
  font-size: rem(24);
  line-height: rem(31);
  color: $dark-9;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: rem(32);
    line-height: rem(42);
    margin-bottom: 2rem;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    font-size: rem(40);
    line-height: rem(52);
    margin-bottom: 1rem;
  }
}

.security-content-description {
  color: $dark-7;
}

.security-content {
  margin-top: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-top: 2rem;
  }

  h3 {
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(23);
    color: $dark-9;
    margin-bottom: 0.75rem;

    @media (min-width: map_get($grid-breakpoints, md)) {
      font-size: 1.5rem;
      line-height: rem(31);
    }
  }

  p {
    margin-bottom: 1.5rem;
    color: $dark-7;
  }
}

.security-disclaimer-section {
  padding: rem(48) 0;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(80) 0;
  }
}

.security-disclaimer {
  background-color: $purple-200;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: rem(20);
  color: $dark-7;
  max-width: rem(880);
  margin: 0 auto;
  position: relative;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(40) rem(60);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(56) rem(64);
    line-height: 150%;
  }

  a {
    color: $dark-7;
  }
}
