section.security-intro-section {
  padding: rem(50) 0;
  min-height: rem(524);
  display: flex;
  align-items: center;
  justify-content: center;
}

.security-intro-title {
  font-weight: 500;
  font-size: rem(50);
  color: $dark-9;
  margin-bottom: 2rem;
}

.security-intro-bg {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  z-index: -1;
}

.security-content-section {
  .container {
    .security-content-item {
      padding: rem(100) 0;
      border-bottom: 1px solid $gray-200;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.security-content-img {
  text-align: center;

  img {
    display: inline-flex;
    width: auto;
    max-width: 100%;
  }
}

.security-content-title {
  font-weight: 700;
  font-size: rem(40);
  color: $dark-9;
  margin-bottom: 1rem;
}

.security-content-description {
  color: $dark-7;
}

.security-content {
  margin-top: 2rem;

  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    color: $dark-9;
    margin-bottom: 0.75rem;
  }

  p {
    margin-bottom: 1.5rem;
    color: $dark-7;
  }
}

.security-disclaimer-section {
  padding-bottom: rem(80);
}

.security-disclaimer {
  background-color: $purple-200;
  border-radius: 1rem;
  padding: 3.5rem 4rem;
  text-align: center;
  font-weight: 700;
  font-size: rem(20);
  line-height: 150%;
  color: $dark-7;
}
