section.typical-section {
  padding: rem(24) 0 rem(48);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(56) 0 rem(80);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(56) 0 rem(100);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(56) 0 rem(120);
  }
}

.typical-header {
  text-align: center;
  margin-bottom: rem(24);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: 2rem;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(72);
    height: rem(72);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 32px rgba(203, 207, 227, 0.6);
    margin-bottom: rem(40);

    img {
      width: rem(38);
      height: rem(38);
      display: inline-flex;
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(32);
    line-height: rem(42);
    color: $dark-9;
    text-align: left;

    @media (min-width: map_get($grid-breakpoints, md)) {
      font-size: rem(50);
      line-height: 130%;
      text-align: center;
    }
  }
}

.typical-content {
  width: 100%;
  max-width: rem(680);
  margin: 0 auto;

  p,
  li {
    margin-bottom: rem(12);
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(31);
    color: $dark-7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0;
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(31);
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1rem;
  }

  a {
    color: $green-dark;
    word-wrap: break-word;

    &.bold-link {
      font-weight: 700;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: rem(20);
    margin: 0 0 rem(20) 0;

    li {
      &:last-child {
        margin-bottom: 0;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      > a {
        font-weight: 400;
        font-size: rem(18);
        line-height: 170%;
        color: $dark-7;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  ol {
    margin: rem(56) 0 rem(20) 0;
    padding: 0;

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin: rem(80) 0 rem(20) 0;
    }

    &.internal-list {
      margin-top: 0;
      list-style-position: inside;

      li {
        margin-bottom: rem(32);

        p {
          display: inline;
        }
      }
    }

    li {
      margin-bottom: rem(56);

      @media (min-width: map_get($grid-breakpoints, md)) {
        margin-bottom: rem(80);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::marker {
        font-weight: 500;
        font-size: 1.5rem;

        @media (min-width: map_get($grid-breakpoints, md)) {
          font-size: 2rem;
        }
      }

      h6 {
        color: $dark-9;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: rem(31);
        margin-bottom: 1.5rem;

        @media (min-width: map_get($grid-breakpoints, md)) {
          font-size: 2rem;
          line-height: rem(42);
          margin-bottom: 2rem;
        }
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      ol,
      ul {
        li {
          margin-bottom: 0.75rem;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 170%;
          color: $dark-7;

          &::marker {
            font-size: 1.125rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  video,
  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .table-wrapper {
    width: auto;
    overflow: hidden;
    overflow-x: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      margin-left: -90px;
      margin-right: -90px;
      padding-left: 0;
      padding-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: rem(32);
    }

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a8a8a8;
      border-radius: 4px;
    }
  }

  table {
    width: 100%;
    min-width: rem(860);
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: rem(16);
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 1px $gray-200;

    tr {
      th,
      td {
        padding: rem(16) rem(12);
        line-height: 150%;
        font-size: rem(14);
        margin: 0;
        vertical-align: top;

        &:not(:last-child) {
          border-right: 1px solid $gray-200;
        }

        ul {
          margin: 0;
          padding: rem(12) 0 0 rem(20);

          &.no-title {
            padding-top: 0;
          }

          li {
            font-size: rem(14);
            line-height: 150%;
            padding: 0;
            margin-bottom: rem(12);

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      th {
        color: $dark-11;
        font-weight: 700;
        line-height: rem(18);
      }

      td {
        &.has-bg {
          color: $dark-9;
          font-weight: 500;
          line-height: rem(18);
          background-color: #eeeef4;
        }
      }

      &:not(:last-child):not(.no-border) {
        th,
        td {
          border-bottom: 1px solid $gray-200;
        }
      }
    }
  }

  &.terms {
    ol {
      margin: 1rem 0 1rem 0;
      padding: 0 0 0 rem(20);

      li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        &::marker {
          margin-bottom: 0.75rem;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 170%;
          color: $dark-7;
        }
      }
    }
  }

  &.privacy {
    > ol {
      list-style: none;
      counter-reset: ordered-list;

      li {
        h6 {
          text-indent: rem(16);

          &::before {
            counter-increment: ordered-list;
            content: counter(ordered-list)". ";
          }
        }
      }
    } 
  }
}

.how-work-content {
  video,
  img {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    border-radius: 1.5rem;
  }

  p,
  li {
    margin-bottom: 0.75rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 170%;
    color: $dark-7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0;
  }

  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: rem(31);
  }

  a {
    color: $green-dark;
  }

  ul {
    list-style-type: disc;
    padding-left: rem(20);
    margin: 0 0 rem(20) 0;

    li {
      &:last-child {
        margin-bottom: 0;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .video-container {
    margin-top: 1.5rem;
    background-color: $purple-200;
    padding: rem(20);
    border-radius: rem(24);

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin-bottom: rem(80);
    }
  }
}

.typical-footer {
  width: 100%;
  max-width: rem(680);
  margin: 0 auto;
  padding-top: rem(56);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding-top: rem(80);
  }

  .update-date {
    color: $dark-7;
    font-size: rem(18);
    line-height: rem(23);
  }
}
