section.why-intro-section {
  padding: rem(50) 0;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(40) 0;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: rem(100) 0;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(130) 0;
    min-height: rem(600);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.why-intro-img {
  margin-top: rem(40);
  width: 100%;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    margin-top: 0;
    width: auto;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    position: absolute;
    left: 45%;
    top: 0;
    height: 100%;
    margin-top: 0;
    width: auto;
  }
}

.why-intro-title {
  font-weight: 700;
  font-size: 2rem;
  color: $dark-9;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: rem(50);
    margin-bottom: 2rem;
  }
}

.why-intro-subtitle {
  font-weight: 700;
  font-size: rem(20);
  color: $dark-9;
  margin-bottom: rem(20);

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: 1.5rem;
  }
}

.why-intro-description {
  color: $dark-7;
}

.why-intro-button {
  margin-top: 2rem;
}

//Why content

section.why-content-section {
  padding: rem(40) 0 0;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(60) 0 0;
  }
}

.why-content-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: $dark-9;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    font-size: rem(40);
    text-align: center;
  }
}

.why-content-description {
  margin-bottom: 12px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: 20px;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: 32px;
    text-align: center;
  }
}

.why-content {
  @media (min-width: map_get($grid-breakpoints, xl)) {
    column-count: 2;
    column-gap: 4rem;
  }

  p {
    margin-bottom: 0.75rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 170%;
  }

  ul {
    li {
      margin-bottom: 0.75rem;
      padding-left: rem(15);
      position: relative;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 170%;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: rem(13);
        width: rem(6);
        height: rem(6);
        border-radius: 50%;
        background-color: $dark-9;
      }
    }
  }
}

.why-content-img {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
  margin-top: -10%;

  img {
    width: 120%;
    transform: translateX(-8%);

    @media (min-width: map_get($grid-breakpoints, xl)) {
      width: 100%;
      transform: none;
    }
  }
}

.why-excellence {
  .row {
    position: relative;
    align-items: center;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding: rem(100) 0;
      min-height: rem(600);
    }

    .why-excellence-img {
      margin: 0 auto;
      width: auto;
      max-width: 100%;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        position: absolute;
        height: auto;
        width: auto;
        max-height: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:nth-of-type(odd) {
      @media (min-width: map_get($grid-breakpoints, xl)) {
        justify-content: flex-end;
      }

      .why-excellence-img {
        @media (min-width: map_get($grid-breakpoints, xl)) {
          right: 60%;
        }
      }
    }

    &:nth-of-type(even) {
      .why-excellence-img {
        @media (min-width: map_get($grid-breakpoints, xl)) {
          left: 80%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
}

.why-excellence-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: $dark-9;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: 2rem;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    font-weight: 500;
    font-size: rem(40);
  }
}
