<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="{{ .Site.BaseURL }}">
    <title>{{ if .Params.MetaTitle }}{{ .Params.MetaTitle | plainify }}{{ else if .Params.Title}}{{ .Params.Title | plainify }}{{ else }}{{ block "title" . }}{{ .Site.Title | plainify }}{{ end }}{{ end }}</title>
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">
    {{ end }}
    <meta name="description"
          content="{{ if .Params.Description  }}{{ .Params.Description | plainify }}{{ else }}{{ .Site.Params.Description | plainify }}{{ end }}"/>
    <!--    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}-->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title"
          content="{{ if .Params.MetaTitle }}{{ .Params.MetaTitle | plainify }}{{ else if .Params.Title}}{{ .Params.Title | plainify }}{{ else }}{{ .Site.Title | plainify }}{{ end }}"/>
    <!--    {{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}-->
    <meta name="og:description"
          content="{{ if .Params.Description }}{{ .Params.Description | plainify }}{{ else }}{{ .Site.Params.Description | plainify }}{{ end }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    <meta property="og:image"
          content="{{ if .Params.thumbnail }}{{.Site.Params.noTrailingBaseURL}}{{ .Params.thumbnail }}{{else}}{{.Site.BaseURL}}/images/claritus_preview.png{{ end }}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title"
          content="{{ if .Params.MetaTitle }}{{ .Params.MetaTitle | plainify }}{{ else if .Params.Title }}{{ .Params.Title | plainify }}{{ else }}{{ .Site.Title | plainify }}{{ end }}">
    <!--    {{ with .Site.Params.description }}<meta property="twitter:description" content="{{ . }}">{{ end }}-->
    <meta name="twitter:description"
          content="{{ if .Params.Description }}{{ .Params.Description | plainify }}{{ else }}{{ .Site.Params.Description | plainify }}{{ end }}"/>
    <meta property="twitter:image"
          content="{{ if .Params.thumbnail }}{{.Site.Params.noTrailingBaseURL}}{{ .Params.thumbnail }}{{else}}{{.Site.BaseURL}}/images/claritus_preview.png{{ end }}">
    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="preconnect" href="https://app.claritus.io">
    <link rel="prefetch" href="https://app.claritus.io/on-boarding"/>
    <link rel="dns-prefetch" href="https://app.claritus.io">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <link rel="preconnect" href="https://consent.cookiefirst.com">
    <link rel="dns-prefetch" href="https://consent.cookiefirst.com">
    <link rel="preconnect" href="https://d35c20tx62tmpd.cloudfront.net">
    <link rel="dns-prefetch" href="https://d35c20tx62tmpd.cloudfront.net">

    {{if .IsHome}}
    <link rel="preload" as="image" href="/images/home-intro-fullhd.png">
    <link rel="preload" as="image" href="/images/home-intro-mob.png">
    <link rel="preload" as="image" href="/images/home-intro-bg-fullhd.svg">
    <link rel="preload" as="image" href="/images/home-intro-bg-tablet.svg">
    <link rel="preload" as="image" href="/images/assets-bg-fullhd.png">
    <link rel="preload" as="image" href="/images/secure-bg-mob.svg">
    {{ end }}

    {{ $sass := resources.Get "scss/app.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Minify | fingerprint }}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml"/>
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml"/>
    {{ end }}

    <!--	Js-->
    {{ $mainJs := resources.Get "js/app.js" }}
    {{ $js := $mainJs | resources.Minify | fingerprint }}
    <script>
        function initLazyLoad() {
            const script = document.createElement("script");
            script.setAttribute("type", "text/javascript");
            script.setAttribute("async", true);
            script.setAttribute(
                "src",
                "https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"
            );

            const head = document.head || document.getElementsByTagName("head")[0];
            head.appendChild(script);

            script.addEventListener("load", function () {
                const observer = lozad();
                observer.observe();
                
                if (document.querySelector('.home-intro-section')) {
                    const lazyImages = document.querySelectorAll('.lozad')
                    if (lazyImages && lazyImages.length) {
                        lazyImages.forEach((im) => {
                            observer.triggerLoad(im)
                        })
                    }
                }
                // const hpAssetImg = document.querySelector(".assets-section .assets-bg");
                // if (hpAssetImg) {
                //     observer.triggerLoad(hpAssetImg);
                // }

                const hpVideo = document.querySelector(".history-section video");
                if (hpVideo) {
                    observer.triggerLoad(hpVideo);
                }

                const videos = document.querySelectorAll(".how-work-content video");
                if (videos && videos.length) {
                    videos.forEach((v) => {
                        observer.triggerLoad(v)
                    })
                }
            });
        }
        initLazyLoad()
    </script>
    <script src="{{ $js.Permalink }}"></script>

    {{ block "StructData" . }}{{ end }}

    {{ partial "tagmanager.html" . }}
    {{ hugo.Generator }}

    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body class="{{ if .Site.Params.rtl }}rtl{{ end }}">


{{ partial "cookie.html" . }}
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGQNHJ8"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="root">
    {{ block "content" . }}{{ end }}

    {{ partial "symbols.html" . }}

    {{ partial "footer.html" . }}
</div>

{{ template "_internal/google_analytics.html" . }}
</body>
</html>
