{{ define "content" }}

<header class="header-section header-section--white">
    {{ partial "header.html" }} {{ partial "header-nav-menu.html" }}
</header>

<section class="typical-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="typical-header">

                    <figure class="typical-header__logo">
                        <img src="/images/typical-logo.svg" alt="">
                    </figure>

                    <h1 class="typical-header__title">{{ .Title }}</h1>

                </div>

                <div class="typical-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}

