.content.blog {

  .container {
    margin-top: 12.5rem;

    article {
      ul {
        list-style: unset;
        list-style-position: inside;

        li {
          &::marker {
            background: #676E80;
          }
        }
      }

      li:not(:last-of-type) {
        margin: 0;
      }

      p, ul li {
        font-size: 1.375rem;
        line-height: 180%;
        color: $primary;
      }

    }

    .blog-footer {
      margin-top: 4.375rem;
    }
  }

  .title {
    color: $dark;
    font-weight: 500;
    font-size: 4rem;
    line-height: 130%;

    margin-bottom: 4.375rem;
  }

  img {
    margin: 4.375rem 0;
  }

  h3 {
    font-weight: 500;
    font-size: 2.125rem;
    line-height: 150%;

    color: $dark;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 835px) {

    .title {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2.375rem;
    }

    img {
      margin: 2.375rem 0;
    }

    .container {
      margin-top: 8.5rem;

      article {
        p, ul li {
          font-size: 1rem;
        }

      }

      .blog-footer {
        margin-top: 1.563rem;
        font-size: 1.375rem;
      }
    }
  }

  @include mobile {
    h3 {
      font-size: 1.5rem;
    }

    .container {
      margin-top: 7.125rem;

      .blog-footer {
        text-align: center;
      }

      article {
        p, ul li {
          font-weight: normal;
          font-size: 0.875rem;
          line-height: 180%;
        }
      }
    }

    .title {
      font-weight: 600;
      font-size: 1.75rem;
      line-height: 120%;

      margin-bottom: 4.875rem;
    }


    img {
      margin-top: 2.375rem;
      margin-bottom: 2rem;
    }
  }
}
