.content {
  margin-top: 12.5rem;
  padding-bottom: 6rem;

  font-size: 1.3rem;
  
  @include tablet-only {
    margin-top: 8rem;
    padding-bottom: 4rem;
  }

  @include mobile {
    margin-top: 8rem;
    padding-bottom: 4rem;
  }

  .container {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    line-height: 1.5;
  }
  
  ol ol ol {
    list-style-type: lower-latin !important;

    ol {
      list-style-type: lower-roman!important;
    }
  }

  li:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .table .has-bg {
    background-color: $grey-bg;
  }

  &.our-story {
    font-size: 1.25rem;
  }

  &.our-mission {
    .article .title:first-of-type {
      margin-bottom: 5rem;
    }
    .article .title:nth-child(2) {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    .cases {
      margin-top: 3rem;

      .case {
        display: flex;
        margin-bottom: 3.4rem;
        height: 8rem;

        .case-img {
          flex: 1;
          align-self: center;
          text-align: center;

          img{
            width: 100px;
            height: 100px;
          }
        }

        .case-content {
          flex: 70%;
          align-self: center;

          .case-title, .case-description {
            font-weight: 800;
            font-size: 1.25rem;
            line-height: 150%;
          }

          .case-description {
            font-weight: initial;
          }
        }
      }
    }

    @include mobile {
      .cases .case {
        height: auto;

        .case-img {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.faq {
  article {
    a {
      color: $black;
      border-bottom: 1px black solid;
      &:hover {
        border-bottom: none;
        color: #3273dc;
      }
    }
  }

  .collapse {
    .collapsible {
      background: url("/images/icon-plus.svg") no-repeat left;
      cursor: pointer;
      padding: 1.125rem;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 1.25rem;
      padding-left: 3.25rem;
      line-height: 2.375rem;
      border-bottom: 1px solid #D4DAE3;
      font-weight: bold;
    }

    .active {
      background-image: url("/images/icon-minus.svg");
      border-bottom: none;
    }

    .collapsible:hover {
      text-decoration: underline;
    }

    .content {
      margin-top: 0;
      padding: 0.625rem 1.5rem 0 3.25rem;
      display: none;
      overflow: hidden;
    }
  }
}
