.content {
  margin-top: 12.5rem;
  padding-bottom: 12.5rem;

  font-size: 1.3rem;
  
  @include tablet-only {
    margin-top: 8rem;
    padding-bottom: 4rem;
  }

  @include mobile {
    margin-top: 8rem;
    padding-bottom: 4rem;
  }

  .container {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    line-height: 1.5;
  }
  
  ol ol ol {
    list-style-type: lower-latin !important;

    ol {
      list-style-type: lower-roman!important;
    }
  }

  li:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .table .has-bg {
    background-color: $grey-bg;
  }

  &.our-story {
    font-size: 1.25rem;
  }

  &.our-mission {
    .article .title:first-of-type {
      margin-bottom: 5rem;
    }
    .article .title:nth-child(2) {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    .cases {
      margin-top: 3rem;

      .case {
        display: flex;
        margin-bottom: 3.4rem;
        height: 8rem;

        .case-img {
          flex: 1;
          align-self: center;
          text-align: center;

          img{
            width: 100px;
            height: 100px;
          }
        }

        .case-content {
          flex: 70%;
          align-self: center;

          .case-title, .case-description {
            font-weight: 800;
            font-size: 1.25rem;
            line-height: 150%;
          }

          .case-description {
            font-weight: initial;
          }
        }
      }
    }
  }
}
