.content {
  padding-bottom: 6rem;
  font-size: 1.3rem;

  @include tablet-only {
    padding-bottom: 4rem;
  }

  @include mobile {
    padding-bottom: 4rem;
  }

  .container {
    margin-top: 7.1rem;

    &.is-small {
      max-width: 54rem;
      margin: 4.375rem auto 0;
    }
  }

  h1, h2, p {
    color: $dark;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 120%;
  }

  p {
    line-height: 1.5;
  }

  .point-title {
    font-size: 2.125rem;
    line-height: 150%;
    font-weight: bold;
  }

  .heading {
    padding: 5rem 0 7rem;
    margin-top: $header-height-desktop;
    text-align: center;

    .page-title {
      font-size: 5.143rem;
      line-height: 120%;
      font-weight: 600;
    }

    .page-description {
      font-size: 1.571rem;
      line-height: 180%;
      max-width: 60rem;
      margin: 2.143rem auto 0;
    }
  }

  ol ol ol {
    list-style-type: lower-latin !important;

    ol {
      list-style-type: lower-roman !important;
    }
  }

  ul {
    list-style: circle;
    list-style-position: inside;

    margin: 0;
    padding: 0;
  }

  article {
    p {
      font-size: 1.375rem;
      line-height: 180%;
      letter-spacing: 0.01em;
      font-feature-settings: 'liga' off;
    }
  }

  li:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .table .has-bg {
    background-color: $grey-bg;
  }

  .hero-image {
    min-height: 20rem;
    margin-top: 5rem;
    width: 100vw;

    background-size: cover;
    background-position: center;
  }

  &.about-claritus {
    .hero-image {
      background-image: url("/images/about-claritus.jpg");
    }

    article p:first-child {
      color: $green;
      font-size: 2.125rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: $fullhd) {
  .content {
    h1 {
      font-size: 3.5rem;
    }

    article p {
      font-size: 1.125rem;
    }

    .container {
      &.is-small {
        max-width: 40rem;
      }
    }

    .heading {
      padding: 5.75rem 0 5.75rem;

      .page-title {
        font-size: 4rem;
      }

      .page-description {
        font-size: 1.286rem;
        margin: 1.5rem auto 0;
      }
    }
  }
}

@media screen and (max-width: $widescreen) {
  .content {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    article {
      p {
        font-size: 1rem;
      }
    }

    .point-title {
      font-size: 1.5rem;
    }

    &.about-claritus {
      article p:first-child {
        font-size: 1.75rem;
      }
    }

    .heading {
      .page-title {
        font-size: 2.857rem;
      }

      .page-description {
        max-width: 40rem;
        font-size: 1.143rem;
        margin: 1.45rem auto 0;
      }
    }
  }
}

@include tablet-only {
  .content {
    .container {
      padding-left: 3rem;
      padding-right: 3rem;

      &.is-small {
        max-width: 40rem;
      }
    }

    &.about-claritus {
      article p:first-child {
        font-size: 1.5rem;
      }
    }
  }
}

@include touch {
  .content {
    .heading {
      margin-top: $header-height-mobile;
    }
  }
}

@include mobile {
  .content {
    padding-bottom: 1.165rem;

    .container {
      padding-left: 1rem;
      padding-right: 1rem;

      &.is-small {
        margin-top: 7.1rem;
      }
    }

    h1 {
      font-size: 2.625rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    article {
      p, li {
        font-size: 1rem;
      }
    }

    .point-title {
      font-size: 1.5rem;
    }

    .hero-image {
      display: none;
    }

    &.about-claritus {
      article {
        p:first-child {
          font-size: 1.25rem;
        }

        p:nth-child(3):after {
          content: "";
          display: block;
          height: 29rem;
          background: url("/images/about-claritus-mobile.jpg") no-repeat 0 0;
          background-size: cover;
          margin: 2rem -1.5rem;
        }
      }
    }

    .heading {
      padding: 4rem 0 3rem;

      .page-title {
        font-size: 2.571rem;
      }

      .page-description {
        font-size: 1rem;
        margin: 1.45rem auto 0;
      }
    }
  }
}
