.header {
  position: fixed;
  width: 100vw;
  height: $header-height;
  background-color: transparent;
  z-index: 99;

  .nav {
    height: 100%;
    padding: 0 $desktop-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img.logo {
      content: url("/images/logo-black.svg");
    }

    .links {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .button.is-login, .button.is-login:hover {
        border: none;
        background-color: transparent;
        color: $dark;
      }

      & > .button:hover {
        font-weight: 600;
      }
    }

    @include desktop{
      &.on-section-3 img.logo {
        content: url("/images/logo-white.svg");
      }
    }

    @include desktop {
      &.on-section-1, &.on-section-footer {
        .links  {
          .button{
            color: $white;
          }

          .burger span {
            background-color: $white;
          }
        }
      }
    }

    @media screen and (max-width: $fullhd) and (min-width: $desktop + 1) {
      &.on-section-5 {
        .links  {
          .button{
            color: $white;
          }

          .burger span {
            background-color: $white;
          }
        }
      }

      //&.on-section-footer {
      //  .links {
      //    display: none;
      //  }
      //}
    }
  }
}

@media screen and (max-width: $desktop) {
  .header {
    padding: 1.875rem $ipad-padding;
    .nav {
      padding: 0;
      &.on-section-1, &.on-section-footer {
        .links  {
          .button{
            color: $dark;
          }

          .burger span {
            background-color: $dark;
          }
        }
      }

      img.logo {
        max-height: 1.5rem;
        margin-left: 3rem;
      }

      .links {
        .burger {
          position: absolute;
          left: $ipad-padding;
          margin: 0;
        }
      }
    }
  }
}

@include mobile {
  .header {
    position: unset;
    padding: 1.875rem $mobile-padding;
    .nav {
      position: relative;
      
      img.logo {
        margin-left: 2.5rem;
      }
      
      .links{
        .button.is-login {
          display: none;
        }

        .burger {
          left: 0;
        }
      }
    }
  }
}

//@keyframes slide-in {
//  0% {
//    transform: translateY(-100%);
//  }
//  100% {
//    transform: translateY(0%);
//  }
//}
//
//@-webkit-keyframes slide-in {
//  0% {
//    -webkit-transform: translateY(-100%);
//  }
//  100% {
//    -webkit-transform: translateY(0%);
//  }
//}
//
//@keyframes slide-out {
//  0% {
//    transform: translateY(0%);
//  }
//  100% {
//    transform: translateY(-100%);
//  }
//}
//
//@-webkit-keyframes slide-out {
//  0% {
//    -webkit-transform: translateY(0%);
//  }
//  100% {
//    -webkit-transform: translateY(-100%);
//  }
//}
