.header {
  position: fixed;
  width: 100vw;
  height: $header-height;
  background-color: transparent;
  z-index: 99;

  .nav {
    height: 100%;
    padding: 0 $desktop-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img.logo {
      content: url("/images/logo-black.svg");
    }

    .links {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .button.is-login, .button.is-login:hover {
        border: none;
        background-color: transparent;
        color: $dark;
      }

      & > .button:hover {
        font-weight: 600;
      }
    }


    &.on-section-1, &.on-section-footer {
      .links  {
        .button{
          color: $white;
        }

        .burger span {
          background-color: $white;
        }
      }
    }

    &.on-section-3 img.logo {
      content: url("/images/logo-white.svg");
    }
  }
}

@media screen and (max-width: $desktop) {
  .header {
    padding: 1.875rem 3.125rem;
    .nav {
      padding: 0;
      &.on-section-1, &.on-section-footer {
        .links  {
          .button{
            color: $dark;
          }

          .burger span {
            background-color: $dark;
          }
        }
      }

      img.logo {
        max-height: 1.5rem;
        margin-left: 3rem;
      }

      .links {
        .burger {
          position: absolute;
          left: 3.125rem;
          margin: 0;
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}
