.home {

  .hero-container {
    height: 100vh;
    background: url("/images/hero.jpg") no-repeat;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 12.5rem;

    @include mobile {
      margin-bottom: 6rem;
    }
  }

  .hero {
    //min-height: 36rem;

    .hero-block {
      .hero-title {
        font-style: normal;
        font-weight: 800;
        font-size: 3rem;
        line-height: 3.6rem;
        padding-top: 8px;
        font-family: $family-secondary;
      }

      .hero-description {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.125rem;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

        max-width: 33rem;
      }

      .hero-subtitle {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2.125rem;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__section-flex {
    margin-bottom: 12.5rem;

    &.understanding {
      margin-bottom: 12.5rem;
    }

    &.section-slider {
      padding: 2.5rem 0;
    }

    &-margin {
      margin-bottom: 12.5rem;
    }

    .container {
      display: flex;
      flex-direction: row;
      align-content: stretch;
      align-items: center;
      vertical-align: top;
    }

    &.home__black {
      background: $black;

      .home__section {
        &-title, &-subtitle {
          color: $white;
        }
      }
    }

    .home__left-image {
      margin-left: 0;
      text-align: center;
      width: 40vw;
      margin-right: 3rem;
      position: relative;
    }

    .home__left-content {
      flex-grow: 1;
      flex-basis: 50%;
      width: 60vw;

      &.content-dots {
        margin-left: auto;
      }
    }

    .home__right-content {
      flex-grow: 1;
      flex-basis: 50%;
      width: 60vw;
      margin-left: 0.5rem;
    }

    .home__right-image {
      margin-left: 0;
      text-align: center;
      width: 40vw;
    }

    .pricing-info {
      background: #323947;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      width: 18.75rem;
      height: 20rem;
      display: flex;
      align-items: center;
      margin: 0 auto;

      &__content {
        font-size: 1.25rem;
        line-height: 1.875rem;
        opacity: 0.9;
        color: white;
        margin: 0 auto;
      }

      @media screen and (max-width: $tablet) {
        top: 22%;
        right: 24%;
        font-size: 1rem;

        .text-big {
          font-size: 2rem;
        }
      }
    }
  }

  .home__section {
    &-title {
      font-family: $family-secondary;
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 3.375rem;
      text-transform: capitalize;
      color: $black;
      margin-bottom: 1rem;
    }
    &-subtitle {
      font-size: 1.25rem;
      line-height: 1.875rem;
      opacity: 0.9;
      color: $black;
      a {
        color: $black;
        border-bottom: 1px solid $black;
      }
    }
    &-description {
      font-family: 'Open Sans';
      font-style: italic;
      font-size: 1.25rem;
      line-height: 1.875rem;

      align-items: center;
      text-align: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .home__section-flex {
    .container {
      flex-direction: column;
    }

    &.section-reversed {
      .container {
        flex-direction: column-reverse;
      }
    }
    .home__left-image, .home__left-content, .home__right-content, .home__right-image {
      width: 100%;
      margin-right: 0;
    }

    &-margin {
      margin-bottom: 2rem;
    }

    .pricing-info {
      margin-top: 2rem;
      width: 100%;
    }
  }
}

@media screen and (min-width: $tablet + $desktop) {
  .home {
    //background-position-y: -37rem;
    .home__section-flex {
      .home__right-image, .home__left-image {
        width: 45%;
      }
    }
  }
}

