.home {
  min-height: 100vh;

  .block {
    height: auto;
    min-height: 50vh;
  }

  & > .columns.block:first-of-type {
    height: 100vh;
  }

  .logo {
    margin-top: 28px;
    margin-bottom: 120px;
  }

  .bg-home-1 {
    background: transparent url("/images/home1.svg") center right no-repeat;
    min-height: 62vh;
    margin-right: 0;
  }

  .bg-home-2 {
    background: transparent url("/images/home2.svg") center right no-repeat;
    min-height: 100vh;
    margin-right: 0;
  }

  .bg-home-3 {
    background: transparent url("/images/home3.svg") center left no-repeat;
    min-height: 100vh;
    margin-right: 0;
  }

  .bg-home-4 {
    background: transparent url("/images/home4.svg") center right no-repeat;
    margin-top: -82px;
    margin-right: 5px;
  }

  .bg-home-5 {
    background: transparent url("/images/home5.svg") center left no-repeat;
  }

  .bg-home-6 {
    background: transparent url("/images/home6.png") center right no-repeat;
    margin-top: -45px;
    margin-right: 47px;
    min-height: 60vh;
  }

  .bg-home-7 {
    background: transparent url("/images/home7.svg") center left no-repeat;
    margin-top: -245px;
    margin-left: 98px;
    margin-right: 22px;
  }

  .bg-home-8 {
    background: transparent url("/images/home8.svg") center right no-repeat;
    min-height: 80vh;
    margin-top: -127px;
    margin-right: 10px;
  }

  p.content {
    opacity: 0.9;
    font-size: 20px;
    line-height: 1.5;

    &.is-half {
      width: 50%;
    }
  }

  ul.content li {
    opacity: 0.9;
    font-size: 20px;
    line-height: 1.4;
    color: $dark;
    margin-left: 16px;
    text-indent: -16px;
    margin-bottom: 12px;

    &:before{
      content: "";
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 50%;
      background: $light-green-gradient;
      margin-right: 8px;
      vertical-align: middle;
    }
 }

  .early-access {
    .field.is-fullwidth .control {
      width: 290px;

      &.email-input {
        width: 295px;
      }
    }

    .input {
      padding: 12px 16px;
      height: 46px;
    }
  }

  .early-access-button {
    padding: 12px 32px;
    height: 48px;
    color: $white;
    img {
      margin-left: 16px;
      object-fit: contain;
    }
  }

  .early-access-box {
    padding: 88px 80px;
    background-color: $white;
    background: $white-grey-gradient;
    box-shadow: 40px 40px 72px $dark-box-shadow;
    border-radius: 8px;
  }

  .cv-header {
    padding: 22px 122px;
    box-shadow: 0 4px 16px 0 $dark-shadow;
    background-color: $white;
  }

  .hero {
    margin-top: 112px;

    .early-access {
      margin-top: 20px;
    }
  }

  .track-wealth {
    margin-top: -75px;
    margin-right: 12px;

    .title {
      margin-top: -163px;
    }
  }

  .understand-wealth {
    margin-top: -300px;
    margin-left: -3px;

    .title {
      margin-top: -161px;
    }
  }

  .improve-wealth {
    margin-top: -300px;
    margin-left: -10px;
  }

  .loyalty {
    margin-top: -250px;
    margin-left: -5px;
  }

  .meet-the-platform {
    margin-top: -275px;
  }

  .privacy-security {
    margin-top: 100px;
  }

  .get-early-access {
    .early-access-box {
      max-width: 588px;
      padding: 72px 105px 88px 105px;
    }

    p.content {
      padding-right: 55px;
    }
  }

  .email-input {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    input {
      height: 46px;
    }
  }
}
