@charset "utf-8";

@import "../bulma/sass/utilities/all";
@import "variables";

@import "../bulma/sass/base/all";
@import "../bulma/sass/grid/columns";
@import "../bulma/sass/elements/button";

html {
  font-size: 14px;
}

body {
  font-size: 1.2rem;
  color: $white;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.w-100 {
  width: 100%;
}

.root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loader {
  @extend %loader;
}

.is-loading {
  color: transparent !important;
  pointer-events: none;
  &::after {
    @extend %loader;
    position: absolute !important;
    left: 50%;
  }
}

h2 {
  font-weight: 500;
  font-size: 4.571rem;
  line-height: 130%;
}

h3 {
  font-weight: 500;
  font-size: 2.429rem;
  line-height: 150%;
}

h4 {
  font-weight: 600;
  font-size: 1.786rem;
  line-height: 180%;
  margin-bottom: 1.429rem;
}

p, .learn-more {
  font-size: 1.571rem;
  line-height: 180%;
}

.learn-more {
  color: $primary;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  font-size: 1.286rem;
  line-height: 180%;

  color: $primary;
  margin-bottom: 1.429rem;
}

.is-green {
  color: $green !important;
}

.is-red {
  color: $red !important;
}

.button {
  border-radius: 2.25rem;
  color: $dark;
  height: 4rem;
  padding: 0 2.857rem;

  font-weight: 600;
  font-size: 1.286rem;
  line-height: 180%;

  &.is-higher {
    height: 4.714rem;

    font-size: 1.571rem;
    font-weight: 400;

    @include mobile {
      font-size: 1.286rem;
    }
  }

  &.is-wide {
    width: auto;
  }

  &.is-green {
    border-color: $green;
    color: $white !important;

    &.is-full {
      background-color: $green;
      color: $white;
    }

    &:hover {
      background: #0BA274;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      border-radius: 36px;
    }

    &:disabled {
      background: #D3D3D3;
      border-radius: 36px;
      border: none;
    }
  }

  &.is-join {
    border-color: $green;
    color: $white;
    background-color: transparent;
    padding-left: 2.77rem;
    padding-right: 2.77rem;
    border-width: 2px;

    &:hover {
      background: $green;
      color: $white;
    }

    &.disabled {
      border: 2px solid #D3D3D3;
      color: #D3D3D3;
      box-sizing: border-box;
    }
  }

  &.is-login {
    background: transparent;
    border: none;
    color: $white;
    margin-right: 3.45rem;
    padding: 0;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &.is-contact-us {
    padding: 0.75rem 5.5rem;
    height: 3.375rem;
    font-weight: 500;
  }
}

input {
  height: 4rem;
  width: 38.929rem;
  border-radius: 2rem;

  font-size: 1rem;
  line-height: 150%;
  padding-left: 1.786rem;
  padding-right: 2rem;

  border: 1px solid #D3D3D3;
  box-sizing: border-box;
}

.burger {
  @include hamburger(2.5rem);
  height: 1.7rem;
  display: inline-block;
  margin-left: 1.75rem;

  span {
    width: 2.5rem;
    height: 3px;
    background-color: $white;
    left: 0;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: calc(50% - 2px);
    }
    &:nth-child(3) {
      top: calc(100% - 4px);
    }
  }

  &.is-active {
    z-index: 600;

    span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.error-message {
  color: #EB5757;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 150%;
  display: none;

  &.is-active {
    display: block;
    margin-bottom: 1rem;
  }
}

.is-centered {
  text-align: center;
}

.has-bottom-margin-20 {
  margin-bottom: 1.429rem;
}

.has-bottom-margin-24 {
  margin-bottom: 1.5rem;
}

.has-bottom-margin-30 {
  margin-bottom: 2.143rem;
}

.has-bottom-margin-40 {
  margin-bottom: 2.857rem;
}

.has-bottom-margin-50 {
  margin-bottom: 3.571rem;
}

.has-bottom-margin-60 {
  margin-bottom: 4.286rem;
}

.has-top-margin-30 {
  margin-top: 1.875rem;
}

.is-invisible-tablet, .is-invisible-fullhd, .is-visible-touch, .is-visible-tablet, .is-visible-mobile {
  display: none !important;
}

.is-hidden-tablet {
  display: inherit !important;
}

.icon {
  &.is-right {
    margin: 0.857rem 1.786rem;
    right: 0;
    height: 1.714rem;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 1.714rem;
    z-index: 4;
  }

  .clearvalue {
    display: inline-block;
    width: 100%;
    height: 100%;
    &.email {
      background-image: url("/images/icon-email.svg");
    }
  }
}

.icon-profile {
  display: block;
  background-image: url(/images/icon-profile.svg);
  width: 24px;
  height: 24px;
}

.icon-email {
  display: block;
  background-image: url(/images/icon-email.svg);
  width: 24px;
  height: 24px;
}

.icon-close-modal {
  display: block;
  background-image: url(/images/icon-close-modal.svg);
  width: 28px;
  height: 28px;
}

.header {
  width: 100vw;
  height: $header-height-desktop;
  padding: 0.6rem $desktop-padding-lp;
  background: $dark-blue;
  z-index: 99;

  .logo-black {
    display: none;
  }

  .nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img.logo {
      padding-top: 0.4rem;
      content: url("/images/logo-beta.svg");
    }

    .links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 2rem;
      margin-top: -0.4rem;
      color: $white;
      font-weight: 500;

      .button {
        height: 3.6rem;
        font-weight: normal;
        font-size: 1.286rem;

        &.is-login {
          margin-right: 4.5rem;
        }
      }

      .burger{
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &.menu-open {
    background-color: transparent;
    z-index: 600;
  }

  &.white-header {
    background: rgba(255, 255, 255, 0.9);
    color: $dark-blue;
    position: fixed;
    top: 0;

    .nav {
      .logo-black {
        display: block;
        content: none;
      }

      .logo-white {
        display: none;
      }

      .links {
        .button {
          color: $dark;

          &.is-login {
            border-color: $white;
          }

          &.is-join {
            color: $dark;
          }
        }
      }

      .burger span {
        background-color: $dark;
      }
    }
  }
}

.transparent-header .header:not(.white-header,.menu-open) {
  background-color: rgba(53, 61, 79, 0.5);
  position: relative;
}

.header-hidden-height {
  min-height: 7.125rem;
  width: 0;
  display: none;
}

.footer {
  min-height: 12.428rem;
  background-color: $dark-blue;
  padding: 3.675rem 5.714rem 0;

  .scroll-to-top {
    display: block;
    width: 3.154rem;
    height: 3.154rem;
    margin-left: auto;
    border-radius: 50%;
    border: 0.5px solid #D3D3D3;
    background: url("/images/arrow.svg") no-repeat center;
    cursor: pointer;
  }

  .links-block {
    display: flex;
    margin-bottom: 2.9rem;
  }

  .copyright {
    text-align: center;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 0.01rem;
  }

  .links {
    flex-grow: 1;
    margin-right: 2rem;

    .link {
      display: inline-block;
      margin-bottom: 1rem;
      font-size: 1.286rem;
      line-height: 140%;
      color: $white;

      &:not(:last-child) {
        margin-right: 5.725rem;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .social-block {
    .social {
      display: flex;

      a {
        vertical-align: top;
        margin-right: 2.75rem;
      }

      .logo {
        vertical-align: top;
        margin-top: -4px;
      }
    }
  }
}

@media screen and (max-width: $fullhd-lp - 1px) {
  h2 {
    font-size: 3.571rem;
  }

  h4 {
    font-size: 1.571rem;
  }

  p, .learn-more {
    font-size: 1.286rem;
  }
}

@media screen and (max-width: $fullhd) {
  .header {
    .nav {
      .links {
        margin-top: 0;

        .burger {
          margin-left: 1.5rem;
        }

        .button {
          &.is-login {
            margin-right: 4.8rem;
          }
        }
      }

      img.logo {
        padding-top: 0;
      }
    }
  }

  .footer {
    min-height: 12.1rem;
    padding: 3.75rem 5.8rem 0;

    .links-block {
      margin-bottom: 2.8rem;
    }

    .links {
      .link {
        &:not(:last-child) {
          margin-right: 3.35rem;
        }
      }
    }

    .social-block {
      .social {
        a {
          margin-right: 2.85rem;
        }
      }
    }

    .copyright {
      letter-spacing: 0.02rem;
    }
  }
}

@media screen and (max-width: $widescreen) {
  h2 {
    font-size: 2.571rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.286rem;
  }

  p, .copyright, .learn-more {
    font-size: 1.143rem;
  }

  .is-visible-tablet {
    display: block !important;
  }

  .is-hidden-tablet {
    display: none !important;
  }

  .burger {
    margin-left: 1.835rem;
  }

  .footer {
    min-height: 13.714rem;
    padding: 2.35rem 6.1rem 0;

    .links-block {
      flex-wrap: wrap;
      margin-bottom: 2.5rem;
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 1.8rem;

      .link {
        font-size: 1.143rem;
        letter-spacing: 0.01rem;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }

    .social-block {
      width: 100%;

      .social {
        a {
          margin-right: 0;

          &:not(:first-child) {
            margin-left: 2.75rem;
          }
        }

        .logo {
          order: -1;
          flex-grow: 1;
        }
      }
    }
  }
}

@include touch {
  .is-visible-touch {
    display: block;
  }

  .header {
    height: $header-height-mobile;
    padding: .5rem 1.65rem;

    .nav {
      position: relative;

      img.logo {
        max-height: 2.75rem;
      }

      .links {
        flex-grow: 1;

        .button {
          height: 2.8rem;
          font-size: 1rem;

          &.is-login {
            margin-right: 1.75rem;
          }

          &.is-join {
            width: 100%;
            max-width: 9.6rem;
            padding-left: 1.6rem;
            padding-right: 1.6rem;
          }
        }

        .burger {
          left: 0;
          width: 2rem;
          height: 1.15rem;
          margin-left: 0.9rem;

          span {
            width: 2rem;
            height: 2px;

            &:nth-child(1) {
              top: 0;
            }
            &:nth-child(2) {
              top: calc(50% - 1px);
            }
            &:nth-child(3) {
              top: calc(50% + 6px);
            }
          }

          &.is-active {
            span:nth-child(1) {
              transform: translateY(6px) rotate(45deg);
            }
            span:nth-child(3) {
              transform: translateY(-8px) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

@include mobile {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  p, .copyright, .learn-more {
    font-size: 1rem;
  }

  .is-visible-mobile {
    display: block !important;
  }

  .button {
    height: 3.429rem;
    width: 12.5rem;

    font-weight: 600;
    font-size: 1.143rem;
    line-height: 140%;

    &.is-higher {
      height: 3.429rem;
    }
  }

  .is-invisible-tablet {
    display: initial;
  }

  .footer {
    min-height: 37.143rem;
    padding: 2.8rem 1.25rem 0 4rem;

    .links-block {
      margin-bottom: 3.2rem;
    }

    .links {
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 0 5.3rem;

      .link {
        letter-spacing: .03rem;

        &:not(:last-child) {
          margin: 0 0 1.9rem;
        }
      }
    }

    .social-block {
      .social {
        align-items: center;

        a:not(:first-child) {
          margin-left: 2.85rem;
        }
      }
    }

    .copyright {
      text-align: left;
      font-size: 0.857rem;
    }
  }
}

@import "menu-lp";
@import "slider";
@import "modal";
@import "content";
@import "pages";
