.menu {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 555;

  &.is-block {
    display: block;
  }

  &.menu--active {

    .menu-content {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
    .background {
      display: block;
    }

  }
  .background {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99;
  }

  .menu-content {
    width: 100%;
    max-width: 32.143rem;
    background: #1F2430;
    height: 100vh;
    z-index: 99;
    position: absolute;
    right: 0;
    padding: 6.643rem 2.643rem;

    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    transform: translateX(100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  &.white-header {
    .menu-content {
      background: $white;
      padding: 7.643rem 2.643rem;
    }

    .menu-list li {
      a {
        color: $dark;
      }

      &:hover {
        background: rgba(73, 83, 105, 0.05);
      }
    }
  }

  .menu-controls {
    display: none;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      list-style: none;
    }

    li {
      margin: 1rem 0;
      padding: 5px 25px;

      a {
        font-weight: normal;
        font-size: 1.571rem;
        line-height: 180%;
        color: $white;
        letter-spacing: 0.01em;
        font-feature-settings: 'liga' off;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        a {
          color: $green;
        }
      }
    }
  }

  .white-hexagon {
    display: none;
  }
}

@include mobile {
  .menu {
    .menu-content {
      padding: 10rem 2.857rem;
    }

    .menu-list {
      li {
        a {
          font-weight: 600;
          font-size: 1.143rem;
        }
      }
    }
    .white-hexagon {
      display: block;
      position: absolute;
      top: 2.286rem;
      left: 2.714rem;
    }
  }
}