[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-dots {
  position: absolute;
  bottom: 10%;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 14px;
  height: 14px;
  border: 0.5px solid #676E80;
  box-sizing: border-box;
  background: $white;

  border-radius: 50%;
  margin: 0 0.938rem;
  //padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  //background: $green;
  position: relative;

  &::before {
    background: $green;
    color: $green;
    position: absolute;
    top: 2px;
    left: 2px;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
  }
}

.arrow {
  height: initial;

  position: absolute;
  top: 50%;
  background-color: white;
  border: none;
  z-index: 5;

  &:focus {
    outline: none !important;
  }
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: -30px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.keen-slider {
  width: 100%;
  padding: 0;
}
.keen-slider__slide {
  &:first-of-type {
    margin-left: 0;
  }

  .container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 23rem 40rem;
    grid-template-rows: auto;
    grid-template-areas:
            "header header"
            "image text";
  }

  .slide-image {
    max-width: 45rem;
    width: 100%;
    text-align: center;
  }

  .slide-content {
    max-width: 35rem;

    .slide-text {
      max-width: 33rem;
    }
  }
}

.keen-slider__slide-title {
  grid-area: header;
  justify-self: center;
  margin-bottom: 3.125rem;
  max-width: 30rem;
}

.keen-slider__slide-image {
  grid-area: image;
  .home__left-image {
    max-width: 16.75rem;
  }
}

.keen-slider__slide-text {
  grid-area: text;
  .home__left-content {
    max-width: 39.5rem;
  }

  .home__section-subtitle {
    font-size: 1.375rem;
    margin-top: -3rem;
  }
}

@media screen and (max-width: $tablet) {
  [class^="number-slide"],
  [class*=" number-slide"] {
    height: initial;
  }

  .keen-slider {
    width: 100%;
  }

  .keen-slider__slide {
    .container {
      grid-template-columns: 15rem 25rem;
    }
  }

  .home .section-slider > .container {
    padding: 2.5rem;
  }

  .keen-slider__slide-image {
    .home__left-image {
      max-width: 12rem;
    }
  }

  .keen-slider__slide-text {
    .home__left-content {
      max-width: 25rem;
    }
  }
}

@media screen and (max-width: 425px) {
  [class^="number-slide"], [class*=" number-slide"] {
    height: 37rem;
  }

  .keen-slider__slide {
    .container {
      grid-template-columns: 75vw;
      grid-template-areas:
              "header"
              "image"
              "text";
    }
  }


  .home .section-slider > .container {
    padding: 1rem;
  }

  .keen-slider__slide-image {
    .home__left-image {
      max-width: 75vw;
    }
  }

  .keen-slider__slide-text {
    .home__left-content {
      max-width: 75vw;
    }
  }
}
