@import "../bulma/sass/utilities/functions";

@function colorAlpha($color, $alpha) {
  @return rgba(red($color), green($color), blue($color), $alpha);
}
$tablet: 768px;
//$fullhd-enabled: false;

$white: #ffffff;
$light-white: #e0e0e0;

$primary: #676E80;

$grey-lighter: #e0e0e0;
$grey-bg: #f5f6f7;
//$orange: #FF8800;
//$dark-blue: #323947;

$light-grey: #F8F9FB;
$lighter-grey: #F8F8FB;
$dark: #495369;
$dark-blue: #353D4F;
$green: #12B583;

$body-color: $primary;
$body-background-color: $white;

$family-sans-serif: 'Poppins';
$weight-bold: 800;
$body-line-height: 1;
$family-primary: 'Poppins', sans-serif;
$family-secondary: 'Poppins', sans-serif;
$body-font-size: 1.25rem;

$button-text-color: $dark;

$input-border-color: $grey-lighter;
$input-shadow: none;

//$dark-shadow: rgba(0, 0, 0, 0.08);
//$dark-box-shadow: rgba(0, 0, 0, 0.01);

$light-green-gradient: linear-gradient(to top, #40ebb7, #25cf9b);
$white-grey-gradient: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 20%, white 70%);

$header-height-desktop: 6.143rem;
$header-height-mobile: 4.143rem;

$desktop-padding: 5rem;
$desktop-padding-lp: 5.75rem;
$ipad-padding: 3.175rem;
$mobile-padding: 1rem;

$fullhd-lp: 1920px;
