
$white: #ffffff;
$light-white: #e0e0e0;

$primary: #24E3AA;

$black: #28313c;
$green: #24e3aa;
$grey-lighter: #e0e0e0;
$grey-bg: #f5f6f7;

$body-color: $black;
$primary: $green;
$body-background-color: $white;

$family-sans-serif: 'Raleway';
$weight-bold: 800;
$body-line-height: 1;
$family-primary: 'Raleway';
$family-secondary: Raleway, sans-serif;
$body-font-size: 20px;

$button-text-color: $white;

$input-border-color: $grey-lighter;
$input-shadow: none;

$dark: #242328;
$dark-shadow: rgba(0, 0, 0, 0.08);
$dark-box-shadow: rgba(0, 0, 0, 0.01);


$light-green-gradient: linear-gradient(to top, #40ebb7, #25cf9b);
$white-grey-gradient: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 20%, white 70%)
