{{ define "content" }}

<header class="header-section header-section--white">
	{{ partial "header.html" }}

	{{ partial "header-nav-menu.html" }}
</header>


<section class="post-intro-section">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-xxl-5">
				<a href="/blog" class="post-back-link">
					<svg width="6" height="11">
						<use xlink:href="#arrow-icon"></use>
					</svg>
					Back to Blog
				</a>

				<h1 class="blog-intro-title">{{ .Title }}</h1>
				<p class="blog-intro-description">
					{{ .Summary }}
				</p>
			</div>
		</div>
	</div>

	<figure class="post-intro-img">
		<img data-src="{{ .Params.Thumbnail }}" alt="" class="lozad">
	</figure>
</section>

<section class="post-content-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-7">
				<div class="post-content">
					{{ .Content | safeHTML }}
				</div>

				{{ if eq .Params.disclaimer true}}
				{{ partial "disclaimer.html" }}
				{{ end }}
			</div>
		</div>
	</div>
</section>

{{ partial "sign-up.html" }}

{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}
{{ define "StructData" }}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BlogPosting",
		"image": "https://claritus.io{{ .Params.thumbnail }}",
		"url": "{{ .Permalink }}",
		"headline": "{{ .Title }}",
		"datePublished": "{{ .Params.publishDate }}",
		"inLanguage": "en-US",
		"isFamilyFriendly": "true",
		"mainEntityOfPage": "True",
		"publisher": {{ $.Site.Data.structuredOrganization }}
	}
</script>
{{ end }}