.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: rem(11) 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: rem(21);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: 1.125rem 2rem;
    font-size: 1rem;
  }

  &:after {
    content: "";
    @extend %absolute;
    background-color: rgba(#fff, 0.5);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &__text {
    position: relative;
    z-index: 1;
  }

  &:hover {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &--small {
    padding: rem(11) 1rem;
  }

  &--medium {
    padding: rem(11) 1rem;
    font-size: 0.875rem;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding: rem(14) 1rem;
      font-size: 1rem;
    }
  }

  &--primary {
    background: $gradient-primary;
  }

  &--transparent {
    @extend %text-gradient;
  }

  &:disabled {
    &:after {
      opacity: 1;
    }
  }
}

//Loader

.loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: rem(40);
  height: rem(40);
  opacity: 0;
  z-index: 3;
  transition: all 0.5s ease;

  &:after {
    content: " ";
    display: block;
    width: rem(25);
    height: rem(25);
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn--loading {
  .btn__text {
    opacity: 0;
  }

  .loader {
    opacity: 1;
  }
}
