.custom-select {
    height: 2rem;

    select {
        display: none;
    }

    .select-selected {
        position: relative;
        display: flex;
        align-items: center;
        height: 2rem;
        border: 1px solid $gray-200;
        border-radius: 0.5rem;
        font-size: rem(14);
        line-height: 1rem;
        color: $dark-9;
        width: 100%;
        padding: 0 rem(28) 0 rem(8);
        background-color: transparent;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &:after {
            display: block;
            position: absolute;
            content: '';
            width: rem(20);
            height: rem(20);
            right: rem(8);
            top: 50%;
            transform: translateY(-50%);
            background: url('/images/arrow-down.svg') no-repeat center;
        }

        &.select-arrow-active {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    .select-hide {
        display: none;
    }
    
    .select-items {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
        background: #fff;
        border-radius: 8px;
        padding-top: rem(8);
        padding-bottom: rem(8);
        box-shadow: 0px 2px 20px rgba(3, 9, 49, 0.12);
        z-index: 99;

        div {
            height: rem(28);
            font-size: rem(14);
            line-height: rem(16);
            color: $gray-600;
            padding: rem(6) rem(12) !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: rem(8);
            }

            &:hover {
                background-color: $purple-100 !important;
            }
        }
    }
}