.field {
  margin-bottom: 1.5rem;
  position: relative;

  label {
    font-weight: 500;
    font-size: rem(14);
    color: $gray-500;
    padding: 0 0.5rem;
    margin-bottom: rem(7);
    line-height: 1rem;
    display: block;
  }

  input {
    height: 2rem;
    border: 1px solid $gray-200;
    border-radius: 0.5rem;
    font-size: rem(14);
    line-height: 1rem;
    width: 100%;
    padding: 0 0.5rem;
    background-color: transparent;

    &::placeholder {
      color: $gray-400;
    }
  }

  textarea {
    border: 1px solid $gray-200;
    border-radius: 0.5rem;
    font-size: rem(14);
    line-height: 1rem;
    width: 100%;
    padding: 0.75rem 0.5rem;
    resize: none;
    height: rem(200);

    &::placeholder {
      color: $gray-400;
    }
  }

  .error-message {
    position: absolute;
    left: 0.5rem;
    top: 100%;
    color: red;
    font-size: rem(10);
    transition: all 0.5s ease;
    opacity: 0;

    &--active {
      opacity: 1;
    }
  }

  &--error {
    .error-message {
      opacity: 1;
    }
  }
}
