{{ define "content" }}
<div class="home">
    <section class="section section-1">
        <div class="centered">
            <div>
                <h1 class="has-bottom-margin-50">A Simple Way to Keep Track of Your Money</h1>
                <p class="has-bottom-margin-50">Finally, a 360° view of your assets that lets you track, understand, and be in complete control of your wealth - all in one place!</p>
                <a class="button is-green is-full is-wide has-bottom-margin-25" href="{{ .Site.Params.appUrl }}/on-boarding">Try it now!</a>
                <p class="is-small">Try it FREE for 3 months, no credit card needed.</p>
            </div>
        </div>
        <div class="bg-image"></div>
    </section>

    <section class="section section-2">
        <div class="centered">
            <div>
                <h2 class="has-bottom-margin-50">A clear view of your assets</h2>
                <p>Sometimes, a quick glance at your portfolio makes you feel like you’re flying blind. At Claritus, we believe that EVERYONE should have a clear, understandable view of their wealth - without requiring a Master’s degree in Finance!</p>
            </div>
        </div>
        <div class="bg-image"></div>
    </section>

    <section class="section section-3">
        <div class="bg-image"></div>

        <div class="centered">
            <div>
                <h1 class="has-bottom-margin-50">A beacon in the dark</h1>
                <p class="has-bottom-margin-50">In a choppy sea of apps, services, and spreadsheets, Claritus lets you access, track,
                    and be in full control of your finances from
                    ONE convenient interface.</p>
                <h4 class="is-green">Simple, user-friendly, intuitive.</h4>
            </div>
        </div>
    </section>

    <section class="section section-5">
        <div class="centered">
            <div>
                <h1 class="has-bottom-margin-50">Lifting the fog on a brighter future</h1>
                <p>Claritus’s straight-forward, comprehensive view of your money’s performance allows to you acquire a deeper understanding of your assets. This allows you not only to maintain and nurture your wealth, but to make smarter decisions moving forward.</p>
            </div>
        </div>

        <div class="bg-image"></div>
    </section>

    <section class="section section-6">
        <div class="bg-image is-centered"></div>

        <div class="centered left-align">
            <div>
                <h1 class="has-bottom-margin-50">Privacy and Security Guaranteed</h1>
                <p>We know your privacy and security are of the utmost importance to you, which is why we are committed
                    to the highest standards of data security and encryption.
                    With Claritus, you know your data is for your eyes only. </p>
            </div>
        </div>
    </section>
</div>
{{ end }}
