{{ define "content" }}
<div class="home">
    <nav class="cv-header level">
        <div class="level-left">
            <div class="level-item">
                <img src="/images/logo-color.svg" />
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a class="button is-primary early-access-button">
                    GET EARLY ACCESS <img src="/images/arrow.svg" />
                </a>
            </div>
        </div>
    </nav>
    <div class="columns block bg-home-1">
        <div class="column is-5 is-offset-1" title="A simple way to control your wealth">

            <p class="title">A Simple Way</p>
            <p class="title green-title">To Control</p>
            <p class="title">Your Wealth</p>

            {{ partial "early-access.html" . }}
        </div>
    </div>

    <div class="columns block">
        <div class="column is-10 is-offset-1 bg-home-2 v-align">
            <p class="title has-bottom-margin-16"><span class="green-title">Track</span> Your Wealth</p>

            <p class="content is-half">
                Staying in control of your wealth is not an easy task. We understand that making sense of your finances
                is time consuming and often difficult to maintain. We’re here to take the pressure off and enable you to
                track and trace your assets without the usual headache. Meaning that you’ll get a clear and complete
                overview of all your investments in one place, with minimum effort. Simple.
            </p>
        </div>
    </div>

    <div class="columns block">
        <div class="column is-5 is-offset-1 bg-home-3">
        </div>
        <div class="column is-5 v-align">
            <p class="title has-bottom-margin-16"><span class="green-title">Understand</span> Your Wealth</p>
            <p class="content">
                Whether you’ve invested your money into something specific or just want to understand your worth in
                general, we’re here
                to make it easy. You no longer need to go through endless numbers and reports to grasp the value and
                progress of your investments. Instead, we’ll do the heavy lifting and you’ll gain clear insights and
                comparisons in just a few clicks.
            </p>
        </div>
    </div>

    <div class="columns block">
        <div class="column is-6 is-offset-3 is-centered v-align">
            <p class="title has-bottom-margin-16"><span class="green-title">Improve</span> Your Wealth</p>
            <p class="content has-bottom-margin-24">
                We’re here to make it easier for you to make the right financial decisions. We believe that once you
                understand the financial data, the horizon is clearer and making decisions becomes easier.
            </p>
            {{ partial "early-access.html" . }}
        </div>
        <div class="column bg-home-4">
        </div>
    </div>

    <div class="columns block">
        <div class="column is-5 is-offset-1 bg-home-5">
        </div>
        <div class="column is-5 v-align">
            <p class="title has-bottom-margin-16"><span class="green-title">Loyalty</span> First and Foremost</p>
            <p class="content">
                Our loyalty is to you, to help you benefit and improve your wealth so we'll always show you the real
                numbers, whether they're good or bad. </p>
        </div>
    </div>

    <div class="columns block">
        <div class="column is-5 is-offset-1 v-align">
            <p class="title has-bottom-margin-16"><span class="green-title">Meet</span> the Platform</p>
            <ul class="content">
                <li>A clear overview of your finances</li>
                <li>Track, trace and control your finances over time</li>
                <li>Simple yet detailed insights into your finances</li>
                <li>Real time alerts of any changes you should be aware of</li>
            </ul>
        </div>
        <div class="column bg-home-6">
        </div>
    </div>

    <div class="columns block">
        <div class="column is-5 is-offset-1 bg-home-7">
        </div>
        <div class="column is-5">
            <p class="title has-bottom-margin-16"><span class="green-title">Privacy & Security</span> Promise </p>
            <p class="content">
                We’re here to take the pressure off and enable you to track and trace your assets without the usual
                headache. Meaning that you’ll get a clear and complete overview of all your investments in one place,
                with minimum effort. Simple.
            </p>
        </div>
    </div>

    <div class="columns block">
        <div class="column is-5 is-offset-1 ">
            <div class="early-access-box">
                <p class="title has-bottom-margin-16">Get Early Access</p>
                <p class="content has-bottom-margin-24">
                    Be one of the first to experience the future of wealth control
                </p>
                <div class="field is-fullwidth">
                    <div class="control">
                        <input class="input" type="email" placeholder="Your Email Address">
                    </div>
                </div>
                <div class="field is-fullwidth">
                    <div class="control">
                        <a class="button is-primary is-fullwidth">
                            Save My Spot
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column bg-home-8">
        </div>
    </div>

</div>
{{ end }}
