{{ define "content" }}

<div class="home has-navbar-fixed-top">
    <div class="hero-container">
        <nav class="cv-header navbar level">
            <div class="level-left">
                <div class="level-item">
                    <img src="/images/logo.svg" class="logo"/>
                    <span id="nav-toggle" class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a class="nav-link text-white" href="/our-story">
                        Our Story
                    </a>
<!--                    <a class="nav-link text-white" href="#pricing">-->
<!--                        Pricing-->
<!--                    </a>-->
                    <a class="nav-link text-white" href="{{ .Site.Params.appUrl }}/sign-in">
                        Sign In
                    </a>
                    <a href="{{ .Site.Params.appUrl }}/on-boarding" class="button btn-white-outline">Sign Up</a>
                </div>
            </div>
            <div id='nav-menu' class="nav-right nav-menu">
                <a class="nav-link text-white" href="/our-story">
                    Our Story
                </a>
<!--                <a class="nav-link text-white" href="#pricing">-->
<!--                    Pricing-->
<!--                </a>-->
                <a class="nav-link text-white" href="{{ .Site.Params.appUrl }}/sign-in">
                    Sign In
                </a>
                <a class="nav-link text-white" href="{{ .Site.Params.appUrl }}/on-boarding">Sign Up</a>
            </div>
        </nav>

        <nav class="cv-header level navbar is-fixed-top header-shadow d-none">
            <div class="level-left">
                <div class="level-item">
                    <img src="/images/logo.svg" class="logo"/>
                    <span id="nav-toggle-fixed" class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a class="nav-link text-white" href="/our-story">
                        Our Story
                    </a>
<!--                    <a class="nav-link text-white" href="#pricing">-->
<!--                        Pricing-->
<!--                    </a>-->
                    <a class="nav-link text-white" href="{{ .Site.Params.appUrl }}/sign-in">
                        Sign In
                    </a>
                    <a href="{{ .Site.Params.appUrl }}/on-boarding" class="button btn-white-outline">Sign Up</a>
                </div>
            </div>
            <div id='nav-menu-fixed' class="nav-right nav-menu">
                <a class="nav-link text-white" href="/our-story">
                    Our Story
                </a>
<!--                <a class="nav-link text-white" href="#pricing">-->
<!--                    Pricing-->
<!--                </a>-->
                <a class="nav-link text-white" href="{{ .Site.Params.appUrl }}/sign-in">
                    Sign In
                </a>
                <a class="nav-link text-white" href="{{ .Site.Params.appUrl }}/on-boarding">Sign Up</a>
            </div>
        </nav>

        <section class="hero container">
            <div class="hero-block">
                <div class="hero-title text-white has-bottom-margin-30">
                    <p>The Simple Way to Keep Track</p>
                    <p>of Your Wealth</p>
                </div>
                <div class="hero-description text-white has-bottom-margin-20">
                    Finally, a 360° view of your assets that lets you track, understand, and be in complete control of your wealth - all in one place!
                </div>
                <button class="button btn-black has-bottom-margin-10">Try it now!</button>
<!--                <div class="hero-subtitle text-white">-->
<!--                    Try it FREE for 3 months, no credit card needed.-->
<!--                </div>-->
            </div>
        </section>
    </div>

    <section class="section">
        <div class="spacer"></div>
        <div class="container mobile-reverse">
            <div class="left has-image">
                <img src="/images/block1.jpg"/>
            </div>
            <div class="right v-leveled is-stretched">
                <div>
                    <div class="title">
                        A <span class="text-green">clear view</span> of your assets
                    </div>
                    <div class="subtitle">
                        Sometimes, a quick glance at your portfolio makes you feel like you’re flying blind.
                        At Claritus, we believe that EVERYONE should have a clear, understandable view of their wealth -
                        without requiring a Master’s degree in Finance!
                    </div>
                </div>

<!--                <div class="description has-bottom-margin-16">-->
<!--                    Your wealth, simple & clear.-->
<!--                </div>-->
            </div>
        </div>
        <div class="spacer"></div>
    </section>

    <section class="section">
        <div class="spacer"></div>
        <div class="container">
            <div class="left">
                <div class="title">
                    A <span class="text-green">beacon</span> in the dark
                </div>
                <div class="subtitle has-bottom-margin-30">
                    In a choppy sea of apps, services, and spreadsheets, Claritus lets you access, track,
                    and be in full control of your finances from ONE convenient interface.
                    <br/><br/>
                    <p class="is-bold">Simple, user-friendly, intuitive.</p>
                </div>
            </div>
            <div class="right is-centered has-image">
                <img src="/images/block2.png"/>
            </div>
        </div>
        <div class="spacer"></div>
    </section>

    <section class="section section-slider">
        <div class="navigation-wrapper container">
            <div class="slider">
                <div id="main-slider" class="keen-slider">
                    <div class="keen-slider__slide number-slide1">
                        <div class="slide-image">
                            <img src="/images/slider1.png"/>
                        </div>
                        <div class="slide-content">
                            <div class="keen-slider__slide-title title text-white">
                                Track and Compare
                            </div>
                            <div class="slide-text">
                                <div class="subtitle text-white">
                                    Track and sort by any asset and compare between investment types and performances easily.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="keen-slider__slide number-slide2">
                        <div class="slide-image">
                            <img src="/images/slider2.png"/>
                        </div>
                        <div class="slide-content">
                            <div class="keen-slider__slide-title title text-white">
                                A clear look forward and back
                            </div>
                            <div class="slide-text">
                                <div class="subtitle text-white">
                                    Upload your investments’ historical data, and measure their performances over time clearly and objectively.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="keen-slider__slide number-slide3">
                        <div class="slide-image">
                            <img src="/images/slider3.png"/>
                        </div>
                        <div class="slide-content">
                            <div class="keen-slider__slide-title title text-white">
                                We Do the Work For You
                            </div>
                            <div class="slide-text">
                                <div class="subtitle text-white">
                                    Real-time data from over 17,000 global banks, brokerages, and other financial institutions -  all at your fingertips.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="arrow-left"
                        class="arrow arrow--left">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                    >
                        <path
                                d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
                        ></path>
                    </svg>
                </button>
                <button
                        id="arrow-right"
                        class="arrow arrow--right">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                    >
                        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
                    </svg>
                </button>
            </div>

            <div class="home__left-content content-dots">
                <div id="dots" class="dots"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="spacer"></div>
        <div class="container mobile-reverse">
            <div class="left has-image">
                <img src="/images/loyalty.svg"/>
            </div>
            <div class="right">
                <div class="title">
                    Lifting the fog on a <span class="text-green">brighter future</span>
                </div>
                <div class="subtitle has-bottom-margin-30">
                    <p>Claritus’s straight-forward, comprehensive view of your money’s performance allows to you
                        acquire a deeper understanding of your assets. This lets you not only to maintain and nurture your wealth,
                        but to make smarter decisions moving forward.</p>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </section>

    <section class="section">
        <div class="spacer"></div>
        <div class="container">
            <div class="left">
                <div class="title">
                    Privacy and Security <span class="text-green">Guaranteed</span>
                </div>
                <div class="subtitle has-bottom-margin-30">
                    We know your privacy and security are of the utmost importance to you,
                    which is why we are committed to the highest standards of data security and encryption.
                    With Claritus, you know your data is for <span class="is-underline">your eyes only</span>.
                </div>
            </div>
            <div class="right is-centered has-image">
                <img src="/images/privacy.svg"/>
            </div>
        </div>
        <div class="spacer"></div>
    </section>

<!--    <section class="section" id="pricing">-->
<!--        <div class="spacer"></div>-->
<!--        <div class="container mobile-reverse">-->
<!--            <div class="left">-->
<!--                <div class="pricing-info">-->
<!--                    <p class="has-bottom-margin-24"><span class="text-big">$19.90</span>/month</p>-->
<!--                    <p class="has-bottom-margin-16">or</p>-->
<!--                    <p class="has-bottom-margin-16"><span class="text-big">$199</span>/year</p>-->
<!--                    <p>($39 discount).</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="right">-->
<!--                <div class="title">-->
<!--                    <span class="text-green">Plain and simple</span> pricing-->
<!--                </div>-->
<!--                <div class="subtitle has-bottom-margin-24">-->
<!--                    <p class="has-bottom-margin-30">We believe you should get high value for your money.-->
<!--                        We don’t want a slice from it, we believe in a fair and simple pricing model.</p>-->
<!--                    <p>Try us for 3 months for free. No credit card is needed.</p>-->
<!--                </div>-->

<!--                <button class="button btn-black btn-wide">Sign Up</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="spacer"></div>-->
<!--    </section>-->

</div>
{{ end }}
