section.blog-intro-section {
  padding-top: 4rem;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(40) 0;
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(160) 0;
  }
}

.blog-intro-title {
  font-weight: 500;
  font-size: 2rem;
  color: $dark-9;
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: rem(50);
    line-height: 130%;
    text-align: center;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    text-align: left;
  }
}

.blog-intro-description {
  font-size: 1rem;
  line-height: 170%;
  color: $gray-600;

  @media (min-width: map_get($grid-breakpoints, md)) {
    text-align: center;
    font-size: 1.125rem;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    text-align: left;
  }
}

.blog-intro-img {
  width: 100%;
  margin-top: rem(40);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    position: absolute;
    left: 47%;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    margin-top: 0;
  }

  img {
    width: 100%;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      height: 100%;
      object-fit: cover;
      object-position: top right;
    }
  }
}

//Blog articles

section.blog-articles-section {
  padding: 3rem 0 rem(20);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(120) 0 rem(60);
  }
}

.post-col {
  padding: 0 rem(20);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: 0 2rem;
  }
}

.post {
  margin-bottom: 4rem;

  &__img {
    display: inline-flex;
    width: 100%;
    position: relative;
    border-radius: 1rem 1rem 0px 0px;
    padding-top: 220/345 * 100%;
    overflow: hidden;

    img {
      @extend %absolute;
      @extend %obj-cover;
      transition: all 0.5s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    display: block;
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 1.125rem;
    color: $dark-9;

    &:hover {
      color: $green-dark;
    }

    &:active {
      color: #008669;
    }
  }
}
