.about-us {
  .container {
    box-sizing: content-box;
    margin: 0 auto !important;
    padding-left: 1.714rem !important;
    padding-right: 1.714rem !important;

    &.is-small {
      max-width: 61.857rem;
    }

    &.is-medium {
      max-width: 83.214rem;
    }
  }

  p {
    color: $primary;
  }

  .about-text {
    padding: 5rem 0;

    p {
      font-size: 1.571rem;
      line-height: 182%;

      &:not(:last-child) {
        margin-bottom: 2.875rem;
      }
    }
  }

  .our-team {
    padding: 5rem 0;
    background-color: #F8F8FB;

    .container > .is-h3 {
      //font-weight: normal;
      //font-size: 3.857rem;
      //line-height: 130%;
      text-align: center;
      margin-bottom: 5rem;
      color: rgba(73, 83, 105, 0.8);

      .members-names {
        color: $dark;
      }
    }

    .team-members {
      display: flex;
      justify-content: space-between;

      & > div {
        max-width: 19.285rem;
        text-align: center;
      }
    }

    .pic {
      width: 14.095rem;
      height: 14.095rem;
      border-radius: 50%;
      margin: 0 auto 2.15rem;
      overflow: hidden;
      border: 1px solid $green;

      &.pic-gabriel {
        background: #FFFFFF url('/images/gabriel.jpg') no-repeat center bottom;
      }

      &.pic-shai {
        background: #FFFFFF url('/images/shai.jpg') no-repeat center bottom;
      }

      &.pic-uzi {
        background: #FFFFFF url('/images/uzi.jpg') no-repeat center bottom;
      }
    }

    .initials {
      font-weight: 600;
      font-size: 1.786rem;
      line-height: 180%;
      letter-spacing: 0.01rem;
      color: $dark;
    }

    .profession {
      display: inline-block;
      font-size: 1.571rem;
      line-height: 180%;
      color: $primary;
      margin-bottom: 2rem;
    }

    //.description {
    //  font-size: 1.142rem;
    //  line-height: 180%;
    //  letter-spacing: 0.01rem;
    //}
  }

  .about-pages {
    padding: 8.6rem 0 7rem;

    .pages-overview {
      display: flex;
      justify-content: space-between;

      & > div {
        width: 50%;

        &:not(:last-child) {
          margin-right: 15.5rem;
        }

        & > div {
          margin-bottom: 1.87rem;
        }

        .is-h3 {
          //font-weight: 500;
          //font-size: 2.429rem;
          //line-height: 150%;
          margin-bottom: 1.9rem;
        }

        //p {
        //  font-size: 1.571rem;
        //  line-height: 180%;
        //  letter-spacing: 0.015rem;
        //}

        a {
          display: block;
          text-align: right;
          color: $dark;
          font-weight: 500;
          font-size: 1.714rem;
          line-height: 150%;
          text-decoration: underline;
        }
      }

      .values-page p {
        transform: translateY(-5px);
      }
    }
  }
}

@media screen and (max-width: $fullhd) {
  .about-us {
    .container {
      &.is-small {
        max-width: 52.6rem;
      }

      &.is-medium {
        max-width: 66.357rem;
      }
    }

    .about-text {
      padding: 8.6rem 0;

      p {
        font-size: 1.286rem;

        &:not(:last-child) {
          margin-bottom: 2.3rem;
        }
      }
    }

    .our-team {
      padding: 5rem 0;

      .container > h2 {
        //font-weight: 500;
        //font-size: 3.571rem;
        //line-height: 120%;
        margin-bottom: 5rem;
        padding: 0 1rem;
      }

      .team-members {
        & > div {
          max-width: 18.35rem;

          &:first-child {
            .pic {
              transform: translateX(7px);
            }

            .profession {
              transform: translateX(-4px);
            }
          }

          &:last-child {
            .pic {
              transform: translateX(-7px);
            }

            .profession {
              transform: translateX(-7px);
            }
          }
        }
      }

      .pic {
        margin: 0 auto 2.25rem;
      }

      .initials {
        font-size: 1.571rem;
        line-height: 140%;
        margin-bottom: 0.75rem;
      }

      .profession {
        font-size: 1.286rem;
        margin-bottom: 1.45rem;
      }

      //.description {
      //  line-height: 182%;
      //}
    }

    .about-pages {
      padding: 8.6rem 0 1.075rem;

      .pages-overview {
        padding: 0 6.85rem;

        & > div {
          &:not(:last-child) {
            margin-right: 9.75rem;
          }

          > div {
            margin-bottom: 1.825rem;
          }

          .is-h3 {
            margin-bottom: 1.4rem;
          }

          //p {
          //  font-size: 1.286rem;
          //  letter-spacing: 0.01rem;
          //}

          a {
            font-weight: 500;
            font-size: 1.286rem;
          }
        }

        .values-page p {
          transform: translateY(0);
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .about-us {
    .container {
      &.is-medium {
        max-width: 52rem;
      }
    }

    .about-text {
      padding: 8.7rem 0;

      p {
        font-size: 1.143rem;

        &:not(:last-child) {
          margin-bottom: 2.1rem;
        }
      }
    }

    .our-team {
      padding: 5rem 0;

      .container > .is-h3 {
        max-width: 43.571rem;
        //font-size: 2.571rem;
        //line-height: 140%;
        margin: 0 auto 4.25rem;
        padding: 0;
      }

      .team-members {
        & > div {
          max-width: 12.2rem;

          &:first-child {
            .pic {
              transform: translateX(0);
            }

            .profession {
              transform: translateX(0);
            }
          }

          &:last-child {
            .pic {
              transform: translateX(0);
            }

            .profession {
              transform: translateX(0);
            }
          }
        }
      }

      .pic {
        width: 11.276rem;
        height: 11.276rem;
        margin: 0 auto 2.1rem;
        background-size: cover !important;
      }

      .initials {
        font-size: 1.286rem;
        line-height: 140%;
        margin-bottom: 0.05rem;
      }

      .profession {
        font-size: 1.143rem;
        margin-bottom: 2.15rem;
      }

      //.description {
      //  font-size: 1rem;
      //  line-height: 150%;
      //}
    }

    .about-pages {
      padding: 8.45rem 0 2.8rem;

      .pages-overview {
        padding: 0 8.65rem;

        & > div {
          &:not(:last-child) {
            margin-right: 6.25rem;
          }

          & > div {
            margin-bottom: 3.575rem;
          }

          .is-h3 {
            //font-size: 1.714rem;
            //line-height: 150%;
            margin-bottom: 1.55rem;
          }

          //p {
          //  font-size: 1.143rem;
          //  line-height: 182%;
          //  letter-spacing: 0.01rem;
          //}
        }
      }
    }
  }
}

@include tablet-only {
  .about-us {
    .container.is-small, .container.is-medium {
      max-width: unset;
      padding-left: 8rem!important;
      padding-right: 8rem!important;
    }

    .about-pages .pages-overview {
      padding-left: 0;
      padding-right: 0;
    }

    .about-pages .pages-overview>div>div {
      margin-bottom: 1.42rem;
    }
  }
}

@include mobile {
  .about-us {

    .about-text {
      padding: 3.35rem 0 5.5rem;

      p {
        font-size: 1.143rem;
      }
    }

    .our-team {
      //padding: 6rem 0 6.275rem;

      .container > .is-h3 {
        max-width: 43.571rem;
        //font-size: 2rem;
        //line-height: 122%;
        margin: 0 auto 4.1rem;
        padding: 0;
      }

      .team-members {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        & > div {
          max-width: 22.857rem;

          &:nth-child(2) {
            .pic {
              transform: translateX(-7px);
            }
          }

          &:not(:last-child) {
            margin-bottom: 4.75rem;
          }
        }
      }

      .pic {
        width: 14.095rem;
        height: 14.095rem;
        margin: 0 auto 1.8rem;
        background-size: initial !important;
      }

      .initials {
        font-size: 1.143rem;
        line-height: 140%;
        margin-bottom: 0;
      }

      .profession {
        font-size: 1rem;
        margin-bottom: 1.15rem;
      }

      //.description {
      //  font-size: 0.857rem;
      //  line-height: 150%;
      //
      //}
    }

    .about-pages {
      padding: 8.2rem 0 9rem;

      .pages-overview {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1rem;

        & > div {
          width: 100%;

          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 6.5rem;
          }

          & > div {
            margin-bottom: 1.1rem;
          }

          .is-h3 {
            //font-size: 2rem;
            //line-height: 120%;
            margin-bottom: 1.3rem;
          }

          //p {
          //  font-size: 1rem;
          //}

          a {
            font-size: 1.571rem;
          }
        }
      }
    }
  }
}
