.blog {
  margin-bottom: 10rem;
  
  &.content {
    padding-bottom: 0;
  }

  .container {
    margin: 0 auto;
    max-width: 83.143rem;
    box-sizing: content-box;
    padding-left: 1.714rem !important;
    padding-right: 1.714rem !important;
  }

  .heading {
    padding: 5.7rem 0 7.15rem;

    .page-title {
      font-weight: 600;
      font-size: 4.571rem;
      line-height: 130%;
      text-align: center;
    }
  }

  .columns {
    margin-top: -5.3rem;
    margin-left: -3.7rem;
    margin-right: -3.7rem;

    &:last-child {
      margin-bottom: -5.3rem;
    }
  }

  .post-card {
    box-sizing: border-box;
    padding: 5.3rem 3.7rem;

    &.is-full {
      .post-thumbnail {
        text-align: center;
      }

      img {
        width: 100%;
      }
    }

    &.is-half {
      .post-thumbnail {
        height: 17.857rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .post-thumbnail {
    margin-bottom: 1rem;
  }

  .post-title {
    display: inline-block;
    color: $dark;
    font-weight: 500;
    font-size: 2.428rem;
    line-height: 151%;
    margin-bottom: 1rem;
  }

  .post-excerpt {
    color: $primary;
    font-size: 1.571rem;
    line-height: 182%;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    li::marker {
      display: none;
    }

    a {
      color:$primary;
      font-size: 1.57rem;
    }

    .page-item:first-of-type, .page-item:last-of-type {
      display: none;
    }

    //.page-item:nth-child(2), .page-item:nth-last-child(2) {
    //  width: 3.57rem;
    //  height: 3.57rem;
    //}

    .page-link[aria-label="Previous"], .page-link[aria-label="Next"] {
      display: inline-block;
      width: 3.57rem;
      height: 3.57rem;
      background: white url("/images/icon-back.svg") no-repeat 50% 50%;

      span {
        opacity: 0;
      }
    }

    .page-link[aria-label="Previous"] {
      background-image: url("/images/icon-back.svg");
      margin-right: 5.7rem;
    }

    .page-link[aria-label="Next"] {
      background-image: url("/images/icon-next.svg");
      margin-left: 5.7rem;
    }
  }
}


@media screen and (max-width: 1280px) {
  .blog {

    .heading h1.page-title {
      font-size: 4rem;
    }
    
    .container {
      max-width: 66.25rem;
    }

    .post-card {
      padding: 3.5rem 2.42rem;
    }

    .post-title {
      font-size: 2rem;
    }

    .post-excerpt {
      font-size: 1.285rem;
    }

    .pagination a {
      font-size: 1.285rem;
    }
  }
}

@include tablet-only {
  .blog {
    .heading {
      padding: 5.7rem 0;

      h1.page-title {
        font-size: 2.85rem;
      }
    }

    .columns {
      margin-right: 0;
      margin-left: 0;
    }

    .container {
      width: auto;
      padding-left: 6.93rem!important;
      padding-right: 6.93rem!important;
    }

    .post-card {
      padding: 2.85rem 1.07rem;
    }

    .post-title {
      font-size: 1.71rem;
    }

    .post-excerpt {
      font-size: 1.14rem;
    }

    .pagination {
      a {
        font-size: 1.14rem;
      }

      .page-link[aria-label="Previous"] {
        margin-right: 4rem;
      }

      .page-link[aria-label="Next"] {
        margin-left: 4rem;
      }
    }
  }
}


@include mobile {
  .blog{
    .heading {
      padding: 5.85rem 0 0;

      h1.page-title {
        font-size: 2.57rem;
      }
    }

    .container {
      max-width: calc(100vw - (1.71rem * 2));
    }

    .columns {
      margin: 0;
    }

    .post-card {
      padding: 2.67rem 0;
    }

    .post-title {
      font-size: 1.57rem;
    }

    .post-excerpt {
      font-size: 1rem;
    }

    .pagination {
      a {
        font-size: 1rem;
      }

      .page-link[aria-label="Previous"] {
        margin-right: 2rem;
      }

      .page-link[aria-label="Next"] {
        margin-left: 2rem;
      }
    }
  }
}
