.core-values {
  &.content {
    padding-bottom: 0;
  }

  .container {
    margin: 0 auto;
    max-width: 61.714rem;
    box-sizing: content-box;
    padding-left: 1.714rem !important;
    padding-right: 1.714rem !important;
  }

  p {
    color: $primary;
  }

  .hero.stretched-image {
    //min-height: calc(57.14rem + 6.143rem);
    //height: calc(57.14rem + 6.143rem);

    .hero-right {
      background-image: url("/images/core-values.jpg");
    }
  }

  .values {
    padding: 8.6rem 0 7.4rem;
  }

  .values-items {
    list-style: none;

    li {
      margin-bottom: 3.5rem;

      .is-h4 {
        //font-weight: 500;
        //font-size: 2.429rem;
        //line-height: 150%;
        margin-bottom: 0.75rem;
      }

      //p {
        //font-size: 1.571rem;
        //line-height: 182%;
        //letter-spacing: 0.015rem;
      //}
    }
  }
}

@media screen and (max-width: $fullhd) {
  .core-values {
    .container {
      max-width: 52.5rem;
    }

    .values {
      padding: 5.8rem 0 6rem;
    }

    .values-items {
      li {
        margin-bottom: 3.5rem;

        //.is-regular-text {
        //  //font-size: 1.286rem;
        //  letter-spacing: 0.013rem;
        //}
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .core-values {
    //.container {
    //  max-width: 34.75rem;
    //}

    .hero.stretched-image {
      //min-height: auto;
      //height: calc(100vh + 6.143rem);
      //max-height: 100vh;

      .hero-right{
        background-position: 50%;
      }
    }

    .values {
      padding: 4.4rem 0 4.2rem;
    }

    .values-items {
      li {
        margin-bottom: 2.9rem;

        .is-h4 {
          //font-size: 1.714rem;
          margin-bottom: 0.75rem;
        }

        //p {
        //  //font-size: 1.143rem;
        //  letter-spacing: 0.01rem;
        //}
      }
    }
  }
}

@include tablet-only {
  .core-values {
    .container {
      max-width: 34.75rem;
    }
    
    .hero.stretched-image {
      height: 50rem;
    }
  }
}

@include mobile {
  .core-values {
    .container {
      max-width: 34.75rem;
    }

    .values {
      padding: 3.6rem 0 3.2rem;
    }

    .values-items {
      li {
        margin-bottom: 2.4rem;

        .is-h4 {
          //font-size: 1.571rem;
          //line-height: 140%;
          margin-bottom: 0.4rem;
        }

        //p {
        //  //font-size: 1rem;
        //}
      }
    }

    .hero.stretched-image {
      height: 100vh;
      margin-top: -5.45rem;

      .hero-left {
        background-size: 200%;
        background-position: 50% 100%;
        background-image: url("/images/core-values.jpg");
      }
    }
  }
}
