.our-story {
  .container {
    margin: 0 auto;
    max-width: 61.614rem;
    box-sizing: content-box;
    padding-left: 1.714rem !important;
    padding-right: 1.714rem !important;
  }

  p {
    color: $primary;
  }

  .heading {
    padding: 5.7rem 0 7.15rem;

    .page-title {
      font-weight: 500;
      font-size: 4.571rem;
      line-height: 130%;
    }
  }

  //.hero {
  //  display: flex;
  //  align-items: center;
  //  min-height: 50rem;
  //  background: url("/images/our-story.png") no-repeat center;
  //  background-size: cover;
  //
  //  .hero-left {
  //    width: 50%;
  //
  //    > div {
  //      width: fit-content;
  //      margin-left: auto;
  //    }
  //
  //    p {
  //      max-width: 40.5rem;
  //      color: $dark;
  //      font-weight: 500;
  //      font-size: 2.429rem;
  //      line-height: 150%;
  //      transform: translateX(-15px);
  //    }
  //  }
  //}

  .hero.stretched-image {
    min-height: calc(57.14rem + 6.143rem);
    height: calc(57.14rem + 6.143rem);
    
    .hero-right {
      background-image: url("/images/our-story.jpg");
    }
  }
  

  .story-text {
    padding: 10.8rem 0 4.78rem;

    p {
      font-size: 1.571rem;
      line-height: 182%;
      letter-spacing: .015rem;

      &.is-bold {
        font-weight: 500;
        font-size: 2.429rem;
        line-height: 150%;
        letter-spacing: 0.005rem;
        padding-top: 4.15rem;
      }

      &:not(:last-child) {
        margin-bottom: 2.875rem;
      }
    }
  }
}

@media screen and (max-width: $fullhd) {
  .our-story {
    .container {
      max-width: 52.5rem;
    }

    .heading {
      padding: 5rem 0 5.8rem;

      .page-title {
        font-size: 3.571rem;
        line-height: 120%;
      }
    }

    //.hero {
    //  min-height: 42.857rem;
    //  background-image: url("/images/our-story-small.png");
    //
    //  .hero-left {
    //    p {
    //      max-width: 33rem;
    //      font-size: 2rem;
    //      transform: translateX(-2px);
    //    }
    //  }
    //}

    .story-text {
      padding: 8.5rem 0 3.25rem;

      p {
        font-size: 1.286rem;
        letter-spacing: 0.012rem;

        &.is-bold {
          font-size: 2rem;
          letter-spacing: 0;
          padding-top: 3.5rem;
        }

        &:not(:last-child) {
          margin-bottom: 2.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: $widescreen) {
  .our-story {
    .container {
      max-width: 34.75rem;
    }

    .heading {
      padding: 5.35rem 0 4.2rem;

      .page-title {
        font-size: 2.571rem;
        line-height: 140%;
      }
    }

    //.hero {
    //  min-height: 43.5rem;
    //  align-items: flex-start;
    //  padding-top: 11.5rem;
    //  background-image: url("/images/our-story-tablet.png");
    //
    //  .hero-left {
    //    width: 56.7%;
    //
    //    p {
    //      max-width: 25.857rem;
    //      font-size: 1.714rem;
    //      line-height: 151%;
    //      transform: translateX(0);
    //    }
    //  }
    //}

    .hero.stretched-image {
      min-height: auto;
      height: calc(50rem + 6.143rem);
      max-height: calc(100vh);
    }

    .story-text {
      padding: 8.5rem 0 3.25rem;

      p {
        font-size: 1.143rem;
        letter-spacing: 0.012rem;

        &.is-bold {
          font-size: 1.714rem;
          padding-top: 2.15rem;
        }

        &:not(:last-child) {
          margin-bottom: 2.1rem;
        }
      }
    }
  }
}

@include tablet-only {
  .our-story .hero.stretched-image {
    height: 50rem;
  }
}

@include mobile {
  .our-story {
    .heading {
      padding: 4.4rem 0 3.2rem;

      .page-title {
        font-size: 2rem;
        line-height: 120%;
      }
    }

    //.hero {
    //  min-height: 42.857rem;
    //  padding-top: 4.15rem;
    //  background-image: url("/images/our-story-mobile.png");
    //
    //  .hero-left {
    //    width: 100%;
    //
    //    > div {
    //      margin: 0 auto;
    //    }
    //
    //    p {
    //      max-width: 23.429rem;
    //      font-size: 1.571rem;
    //      line-height: 141%;
    //    }
    //  }
    //}

    .story-text {
      padding: 3.5rem 0 4.8rem;

      p {
        font-size: 1rem;
        letter-spacing: 0.012rem;

        &.is-bold {
          font-size: 1.571rem;
          line-height: 140%;
          padding-top: 0.4rem;
        }

        &:not(:last-child) {
          margin-bottom: 1.7rem;
        }

        &:first-child {
          margin-bottom: 1.9rem;
        }
      }
    }

    .hero.stretched-image {
      height: 100vh;
      margin-top: -5.45rem;

      .hero-left {
        background-size: 200%;
        background-position: 35% 100%;
        background-image: url("/images/our-story.jpg");
      }
    }
  }
}
