.privacy {
  &.content {
    margin-top: 7rem;
    padding-bottom: 0;
  }

  .heading {
    padding: 5.7rem 0 1.45rem;

    .page-title {
      font-weight: 500;
      font-size: 4.571rem;
      line-height: 130%;
      text-align: center;
    }
  }

  .container {
    max-width: 61.857rem;
    box-sizing: content-box;
    margin: 0 auto !important;
    padding-left: 1.714rem !important;
    padding-right: 1.714rem !important;
  }

  .terms {
    padding: 2.2rem 0 10.55rem;

    article {
      color: $primary;

      a {
        color: $green;

        &:hover {
          text-decoration: underline;
        }
      }

      ul {
        padding: 0.75rem 0 0 1.55rem;
        list-style: disc;

        li {
          padding-left: 0.4rem;

          &:not(:last-child) {
            margin-bottom: 2.1rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 3.5rem;
        }
      }

      p, li {
        font-size: 1.571rem;
        line-height: 182%;
        letter-spacing: 0.015rem;
      }

      p:not(:last-child) {
        margin-bottom: 2.875rem;
      }

      strong {
        color: $dark;
      }

      .table-wrapper {
        overflow-x: auto;

        &:not(:last-child) {
          margin-bottom: 2.875rem;
        }

        &::-webkit-scrollbar {
          height: 6px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #a8a8a8;
          border-radius: 4px;
        }
      }

      table {
        min-width: 52.143rem;

        th, td {
          font-size: 1rem;
          padding: 1rem 0.75rem;
          line-height: 150%;

          ul {
            padding-top: 0.75rem;

            &:first-child {
              padding-top: 0;
            }

            li {
              font-size: 1rem;
              line-height: 150%;

              &:not(:last-child) {
                margin-bottom: 1rem;
              }
            }
          }
        }

        th {
          color: $white;
          border: 1px solid $dark;
          background-color: $dark;

          &:not(:last-child) {
            border-right-color: #dddfe1;
          }
        }

        td {
          border: 1px solid #dddfe1;
        }
      }

      h6 {
        margin-bottom: 1rem;
      }

      .update-date {
        padding-top: 2.7rem;
        text-align: right;
      }
    }

    .toc {
      padding: 2.7rem 0 5.575rem 0.1rem;

      h4 {
        color: $dark;
        font-weight: 500;
        font-size: 2.429rem;
        line-height: 150%;
      }

      ul {
        list-style: none;
        padding: .6rem 0 0 0;

        li {
          position: relative;
          padding-left: 3rem;

          &:before {
            display: block;
            position: absolute;
            content: "";
            top: 0.6rem;
            left: 0;
            width: 1.5rem;
            height: 1.5rem;
            background: url("/images/privacy-polygon.svg") no-repeat center;
            background-size: cover;
          }

          a {
            color: $primary;

            &:hover {
              color: $dark;
              text-decoration: none;
            }
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $fullhd) {
  .privacy {
    .container {
      max-width: 52.5rem;
    }

    .heading {
      padding: 5.7rem 0 1.45rem;

      .page-title {
        font-size: 3.571rem;
        line-height: 120%;
      }
    }

    .terms {
      padding: 2.2rem 0 10.55rem;

      h1 {
        font-size: 3.571rem;
        line-height: 120%;
        margin-bottom: 3.6rem;
      }

      article {
        ul {
          padding: 0;
          list-style: none;

          li {
            position: relative;
            padding-left: 2.1rem;

            &:before {
              display: block;
              position: absolute;
              content: "\2022";
              left: 0;
              top: 0;
              font-size: 2.2rem;
            }
          }

          &:not(:last-child) {
            margin-bottom: 4.35rem;
          }
        }

        p, li {
          font-size: 1.286rem;
          letter-spacing: 0.014rem;
        }

        p:not(:last-child) {
          margin-bottom: 2.3rem;
        }

        table {
          th, td {
            ul {
              li {
                &:before {
                  font-size: 1.7rem;
                }
              }
            }
          }
        }
      }

      .toc {
        padding: 2rem 0 4.3rem 0;

        h4 {
          font-size: 2rem;
          margin-bottom: 1.1rem;
        }

        ul {
          padding: .5rem 0 0 0;

          li {
            padding-left: 2.7rem;

            &:not(:last-child) {
              margin-bottom: 1.45rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $widescreen) {
  .privacy {
    .container {
      max-width: 34.5rem;
    }

    .heading {
      padding: 5.35rem 0 1.45rem;

      .page-title {
        font-size: 2.571rem;
        line-height: 140%;
        padding-left: 1.4rem;
      }
    }

    .terms {
      padding: 2rem 0 7.1rem;

      article {
        ul {
          li {
            padding-left: 2.55rem;

            &:before {
              font-size: 2.4rem;
            }

            &:not(:last-child) {
              margin-bottom: 1.5rem;
            }
          }

          &:not(:last-child) {
            margin-bottom: 2.8rem;
          }
        }

        p, li {
          font-size: 1.143rem;
          letter-spacing: 0.01rem;
        }

        p:not(:last-child) {
          margin-bottom: 2.1rem;
        }
      }

      .toc {
        padding: 1.5rem 0 3.6rem 0;

        h4 {
          font-size: 1.714rem;
          margin-bottom: 1.35rem;
        }

        ul {
          padding: 0;

          li {
            padding-left: 2.7rem;

            &:before {
              top: 0.25rem;
            }
          }
        }
      }
    }
  }
}

@include tablet-only {
  .privacy {
    .container {
      max-width: unset;
      padding-left: 8rem!important;
      padding-right: 8rem!important;
    }

    .heading .page-title {
      padding-left: 0;
    }
  }
}

@include mobile {
  .is-broken-mobile {
    word-break: break-all;
  }

  .privacy {
    &.content {
      margin-top: 5rem;
    }

    .heading {
      padding: 4.4rem 0 1.45rem;

      .page-title {
        font-size: 2rem;
        line-height: 120%;
        padding-left: 0;
      }
    }

    .terms {
      padding: 1.3rem 0 4rem;

      article {
        ol {
          padding-left: 1rem;
        }

        ul {
          li {
            padding-left: 2rem;

            &:not(:last-child) {
              margin-bottom: 1.1rem;
            }
          }

          &:not(:last-child) {
            margin-bottom: 2.8rem;
          }
        }

        p, li {
          font-size: 1rem;
        }

        p {
          &:not(:last-child) {
            margin-bottom: 1.8rem;
          }
        }
      }

      .toc {
        padding: 0.7rem 0 3.6rem;

        ul {
          li {
            font-size: 1.143rem;
            padding-left: 2.8rem;

            &:not(:last-child) {
              margin-bottom: 0.85rem;
            }

            &:before {
              width: 1.7rem;
              height: 1.7rem;
            }
          }
        }
      }
    }
  }
}
