%bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

%absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

%obj-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

%text-gradient {
  background-image: -webkit-linear-gradient(
    90.36deg,
    #46dd94 -0.66%,
    #23d3ab 101.59%,
    #17d6b3 101.59%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
