// Colors
$dark-1: #f0f0f3;
$dark-7: #3f4463;
$dark-8: #2b2f4a;
$dark-9: #1a1f43;
$dark-11: #030931;
$gray-100: #c6cbdd;
$gray-200: #e3e5ed;
$gray-400: #a4a9bb;
$gray-500: #7e829e;
$gray-600: #5a5e7b;
$green: #45dd95;
$green-light: #ADE8D3;
$green-dark: #00b08b;
$primary: #2967f0;
$purple-100: #f8f8fe;
$purple-200: #e2e4f1;
$gradient-primary: linear-gradient(90.36deg, #2FAE71 -0.66%, #23D3AB 101.59%, #0C9F85 101.59%);
$gradient-primary-strong: linear-gradient(90.36deg, #179D5D -0.66%, #23D3AB 101.59%, #038E75 101.59%);

//Base config
$body-color: #2b2f4a;
$body-bg: #fff;
$font-family-base: "DM Sans", sans-serif;
$font-size-base: 1.125rem;
$font-weight-base: 400;
$box-shadow: none;

//Grid columns
$grid-breakpoints: (
  xs: 0,
  md: 744px,
  lg: 992px,
  xl: 1220px,
  xxl: 1400px,
);

$container-max-widths: (
  md: 700px,
  lg: 960px,
  xl: 1160px,
  xxl: 1230px,
);

//$grid-gutter-width: 4rem;

//Box shadow
$box-shadow-primary: 0px 0.875rem 28px rgba(203, 203, 203, 0.25);
$box-shadow-secondary: 0px 4px 10px rgba(0, 0, 0, 0.1);

// Transition
$transition-time-main: all 0.3s ease;

// Font
$font-size: 1rem;
$font-family-primary: "Futura", sans-serif;

// ============ Links
$link-color: $body-color;

$link-hover-color: $primary;

$link-hover-decoration: none;
