{{ define "content" }}
<div class="content {{ .Params.content_class }} transparent-header">

    {{ partial "nav" . }}
    {{ partial "menu.html" }}

    <section class="hero stretched-image">
        <div class="hero-left">
            <div>
                <h1 class="page-title is-h2" title="{{ .Title }}">{{ .Title }}</h1>
                <h3 class="is-h3"><span class="is-green">Our values</span> play a huge role in who we are, both as people and as a company.</h3>
            </div>
        </div>
        <div class="hero-right"></div>
    </section>

    <section class="values">
        <div class="container">
            <article>
                <ul class="values-items">
                    {{ range .Params.values_list }}
                        <li>
                            <h2 class="is-green">{{ .title }}</h2>
                            <p>{{ .body | safeHTML}}</p>
                        </li>
                    {{ end }}
                </ul>
            </article>
        </div>
    </section>
</div>
{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}
