{{ define "content" }}
<div class="content {{ .Params.content_class }} transparent-header">

    {{ partial "nav" . }}
    {{ partial "menu.html" }}

    <section class="hero stretched-image">
        <div class="hero-left">
            <div>
                <h1 class="page-title" title="{{ .Title }}">{{ .Title }}</h1>
                <h2><span class="is-green">Our values</span> play <br/> a huge role in who <br/> we are, both as people <br/> and as a company.</h2>
            </div>
        </div>
        <div class="hero-right"></div>
    </section>

    <section class="values">
        <div class="container">
            <article>
                <ul class="values-items">
                    {{ range .Params.values_list }}
                        <li>
                            <h2 class="is-green">{{ .title }}</h2>
                            <p>{{ .body | safeHTML}}</p>
                        </li>
                    {{ end }}
                </ul>
            </article>
        </div>
    </section>
</div>
{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}
