{{ define "content" }}
<div class="content {{ .Params.content_class }} has-navbar-fixed-top">

    {{ partial "nav" . }}
    {{ partial "menu.html" }}
    <div class="hero-image"></div>

    <section class="container is-small">
        <div>
            <div>
                <h1 class="title" title="{{ .Title }}">{{ .Title }}</h1>
                <article>
                    {{ .Content }}
                </article>
            </div>
        </div>

        <div class="about-pages">
            <div>
                <div>
                    <h2>Our Story</h2>
                    <p>Claritus is the result of a very real and personal need we were all faced with.</p>
                </div>
                <a href="{{ ref . "our-story.md" }}">Read more</a>
            </div>
            <div>
                <div>
                <h2>Core Values</h2>
                <p>Our values play a huge role
                    in who we are, both as people and as a company</p>
                </div>
                <a href="{{ ref . "core-values.md" }}">Read more</a>
            </div>
        </div>
    </section>
</div>
{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}
