/*========== Home page*/
.home-overview {
  display: flex;
}

.home-overview .home-overview__item {
  width: auto;
  border-right: 1px solid #ccc;
  padding: 15px 40px 15px 0;
}

.home-overview .home-overview__item:last-child {
  border-right: none;
  padding: 15px 0 15px 40px;
}

.home-overview .home-overview__item {
  margin-bottom: 10px;
}

.home-overview .home-overview__item p,
.home-overview .home-overview__item h6 {
  margin: 0;
  font-size: 14px;
  display: block;
}

.home-overview .home-overview__item h6 {
  font-size: 16px;
  margin-bottom: 10px;
}

.financial-institutes {
  display: flex;
  flex-wrap: wrap;
}

.financial-institutes .financial-institutes__item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px 15px 10px;
}

.financial-institutes .financial-institutes__item img {
  max-height: 40px;
  width: auto;
  margin-bottom: 5px;
}

.feedbacks {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 20px;
}

.feedbacks .feedbacks__item {
  padding: 0 10px 20px 10px;
  width: 20%;
}

.feedbacks .feedbacks__item .feedback {
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgb(5 13 66 / 12%);
  height: 100%;
}

.feedbacks .feedbacks__item .feedback p,
.feedbacks .feedbacks__item .feedback h6 {
  font-size: 14px;
  margin: 0;
}

.feedbacks .feedbacks__item .feedback p {
  flex-grow: 1;
}

.feedbacks .feedbacks__item .feedback h6 {
  margin-top: 20px;
}

.faq-item {
  box-shadow: 0 10px 20px rgb(5 13 66 / 12%);
  margin-bottom: 30px;
  padding: 20px;
}

.faq-item p {
  margin-bottom: 0;
}