{{ define "content" }}


<header class="header-section">
    {{ partial "header.html" }}

    {{ partial "header-nav-menu.html" }}
</header>


<!--Intro section -->
<section class="home-intro-section">
    <figure class="home-intro-bg">
        <img src="/images/home-intro-bg-fullhd.svg" class="d-none d-xl-flex" alt=""/>
        <img src="/images/home-intro-bg-tablet.svg" class="d-xl-none" alt=""/>
    </figure>

    <div class="container">
        <div class="row no-gutters">
            <div class="home-intro home-block">
                <h1 class="home-intro__title">
                    {{ .Title | safeHTML }}
                    <span class="typed-text">
                        {{ .Params.heroTypedWord }}
                    </span>
                </h1>

                <p class="home-intro__text">{{ .Params.heroText | safeHTML }}</p>

                <div class="home-intro__btn-wrapper">
                    <a href="https://app.claritus.io/on-boarding" title="Start Your 14 Days Free Trial"
                       class="btn btn--primary home-intro__btn"> Start Your 14 Days Free Trial </a>
                </div>

                <p class="home-intro__caption">No credit card required</p>

                <div class="intro-overview-wrap">
                    {{ range .Params.homeOverview }}
                    <div class="intro-overview">
                        <figure class="intro-overview__icon">
                            <svg width="15" height="15">
                                <use xlink:href="#{{ .icon }}"></use>
                            </svg>
                        </figure>

                        <div class="intro-overview-content">
                            <h3 class="intro-overview-content__title">{{ .title }}</h3>
                            <div class="intro-overview-content__text intro-overview-content__text--has-popup">
                                {{ .text | safeHTML }}

                                {{ if .popupText }}
                                <div class="popup">
                                    <button class="popup__btn">
                                        <svg width="15" height="15">
                                            <use xlink:href="#info-icon"></use>
                                        </svg>
                                    </button>
                                    <div class="popup__message">
                                        {{ .popupText }}
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    <picture data-iesrc="{{ .Params.heroImgFullHd }}" class="home-intro-picture lozad">
        <source srcset="{{ .Params.heroImgFullHd }}" media="(min-width: 744px)"/>
        <source srcset="{{ .Params.heroImgMobile }}" media="(min-width: 300px)"/>
    </picture>
</section>

<section class="financials-institutes-section">
    <h2 class="financials-title">{{ .Params.financialsTitle }}</h2>

    <div class="financials-institutes">
        {{ range $index, $element := .Params.financialInstitutes }}
        <figure class="financials-institutes__item">
            <img data-src="{{ .imageUrlDesk }}" alt="" class="lozad financials-institutes__image financials-institutes__image--desktop financials-institutes__image--desktop-{{$index}}"/>
            <img data-src="{{ .imageUrlTablet }}" alt="" class="lozad financials-institutes__image financials-institutes__image--tablet financials-institutes__image--tablet-{{$index}}"/>
            <img data-src="{{ .imageUrlMobile }}" alt="" class="lozad financials-institutes__image financials-institutes__image--mobile financials-institutes__image--mobile-{{$index}}"/>
        </figure>
        {{ end }}
    </div>
</section>

<section class="assets-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="assets home-block">
                <h2 class="assets__title">{{ .Params.assetsTitle }}</h2>

                <p class="assets__text">{{ .Params.assetsText }}</p>

                <a href="https://app.claritus.io/on-boarding" title="Start Your 14 Days Free Trial"
                   class="btn btn--primary"> Try Claritus for Free </a>
            </div>
        </div>
    </div>

    <picture data-iesrc="{{ .Params.assetsImgFullHd }}" class="assets-picture lozad">
        <source srcset="{{ .Params.assetsImgFullHd }}" media="(min-width: 1400px)"/>
        <source srcset="{{ .Params.assetsImgDesktop }}" media="(min-width: 1152px)"/>
        <source srcset="{{ .Params.assetsImgTablet }}" media="(min-width: 744px)"/>
        <source srcset="{{ .Params.assetsImgMob }}" media="(min-width: 300px)"/>
    </picture>
</section>

<section class="secure-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="secure home-block">
                <h2 class="secure__title">{{ .Params.secureTitle }}</h2>

                <p class="secure__text">{{ .Params.secureText }}</p>

                <a href="/security/" title="Learn more about Claritus' security and privacy" class="btn btn--secondary">
                    <span class="btn__first-layer"></span>
                    <span class="btn__second-layer"></span>
                    <span class="btn__text">Learn more</span>
                </a>
            </div>
        </div>
    </div>

    <picture data-iesrc="{{ .Params.secureImgFullHd }}" class="secure-picture lozad">
        <source srcset="{{ .Params.secureImgFullHd }}" media="(min-width: 1152px)"/>
        <source srcset="{{ .Params.secureImgTablet }}" media="(min-width: 744px)"/>
        <source srcset="{{ .Params.secureImgMob }}" media="(min-width: 300px)"/>
    </picture>
</section>

<section class="financial-cover-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="financial-cover home-block">
                <h2 class="financial-cover__title">
                    {{ .Params.coverFinancialsTitle }}
                </h2>

                <p class="financial-cover__text">{{ .Params.coverFinancialsText }}</p>

                <a href="{{ .Site.Params.appUrl }}/on-boarding" class="btn btn--primary">
                    <span class="btn__first-layer"></span>
                    <span class="btn__second-layer"></span>
                    <span class="btn__text">Try Claritus for Free</span>
                </a>
            </div>
        </div>
    </div>

    <picture data-iesrc="{{ .Params.coverFinancialsImgFullHd }}" class="financial-cover-picture lozad">
        <source srcset="{{ .Params.coverFinancialsImgFullHd }}" media="(min-width: 744px)"/>
        <source srcset="{{ .Params.coverFinancialsImgMob }}" media="(min-width: 300px)"/>
    </picture>
</section>

<section class="benchmark-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="benchmark home-block">
                <h2 class="benchmark__title">{{ .Params.benchmarkTitle }}</h2>

                <p class="benchmark__text">{{ .Params.benchmarkText }}</p>
            </div>
        </div>
    </div>

    <picture data-iesrc="{{ .Params.benchmarkImgFullHd }}" class="benchmark-picture lozad">
        <source srcset="{{ .Params.benchmarkImgFullHd }}" media="(min-width: 744px)"/>
        <source srcset="{{ .Params.benchmarkImgMob }}" media="(min-width: 300px)"/>
    </picture>
</section>

<section class="feedback-section">
    <h2 class="feedback-title">{{ .Params.feedbackTitle }}</h2>

    <div class="feedback-slider-wrap">
        <div class="feedback-slider">
            {{ range .Params.feedbacks }}
            <div class="feedback-slider__item">
                <div class="feedback">
                    <p class="feedback__text">{{ .feedbackText }}</p>

                    <h3 class="feedback__name">{{ .feedbackName }}</h3>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    <div class="slider-arrows">
        <button class="slider-arrow slider-arrow--prev">
            <svg width="9" height="18">
                <use xlink:href="#arrow-icon"></use>
            </svg>
        </button>

        <button class="slider-arrow slider-arrow--next">
            <svg width="9" height="18">
                <use xlink:href="#arrow-icon"></use>
            </svg>
        </button>
    </div>
</section>

<section class="history-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="history home-block">
                <h2 class="history__title">{{ .Params.historyTitle }}</h2>

                <p class="history__text">{{ .Params.historyText | safeHTML }}</p>

            </div>
            <div class="history-video">
                <video class="lozad"
                       data-poster="{{ .Params.historyVideoPoster }}"
                       width="100%" autoplay muted loop playsinline>
                    <source data-src="{{ .Params.historyVideo }}"
                            type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>

<section class="faq-section">
    <div class="container">
        <h2 class="faq-title">{{ .Params.faqTitle }}</h2>

        <div class="row">
            <div class="col-xl-6">
                {{ range .Params.faqFirstColumn }}
                <div class="faq">
                    <button class="faq__question">
                        {{ .question }}

                        <span class="faq-question-icon"></span>
                    </button>

                    <div class="faq-content">
                        <p class="faq-content__answer">{{ .answer }}</p>
                    </div>
                </div>
                {{ end }}
            </div>

            <div class="col-xl-6">
                {{ range .Params.faqSecondColumn }}
                <div class="faq">
                    <button class="faq__question">
                        {{ .question }}

                        <span class="faq-question-icon"></span>
                    </button>

                    <div class="faq-content">
                        <p class="faq-content__answer">{{ .answer }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<section class="simple-pricing-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="simple-pricing home-block">
                <h2 class="simple-pricing__title">{{ .Params.pricingTitle }}</h2>

                <p class="simple-pricing__text">{{ .Params.pricingText | safeHTML }}</p>

                <div class="simple-pricing__btns">
                    <a href="https://app.claritus.io/on-boarding" title="Start Your 14 Days Free Trial"
                       class="btn btn--primary simple-pricing__btn">Try Claritus for Free</a>

                    <a href="/pricing/" class="btn btn--secondary simple-pricing__btn">
                        <span class="btn__first-layer"></span>
                        <span class="btn__second-layer"></span>
                        <span class="btn__text">Learn more</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <picture data-iesrc="{{ .Params.pricingImgFullHd }}" class="simple-pricing-picture lozad">
        <source srcset="{{ .Params.pricingImgFullHd }}" media="(min-width: 744px)"/>
        <source srcset="{{ .Params.pricingImgMob }}" media="(min-width: 300px)"/>
    </picture>
</section>

{{ partial "sign-up.html" }}

{{ end }}

{{ define "StructData" }}
<script type="application/ld+json">
    [{
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://claritus.io",
        "logo": "https://claritus.io/images/logo-black.svg"
    },
    {
        "@context":"http://schema.org/",
        "@type":"FAQPage",
        "name": "{{ .Params.metaTitle }}",
        "description": "Claritus FAQ",
        "mainEntity": [
            {{ range .Params.faqFirstColumn }}
            {
                "@type":"Question",
                "name":"{{ .question }}",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{ .answer | safeHTML}}"
                }
            },
            {{ end }}
            {{ range .Params.faqSecondColumn }}
            {
                "@type":"Question",
                "name":"{{ .question }}",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{ .answer | safeHTML}}"
                }
            },
            {{ end }}
        ]
    }
    ]
</script>
{{ end }}
