
section.assets-section {
  padding-top: 80px;
}

.assets-bg {
  width: 100%;
  height: auto;
}

.assets-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding-top: 80px;
  text-align: center;
}

.assets-title {
  margin-bottom: 32px;
}

.assets-text {
  margin-bottom: 40px;
}