section.financial-cover-section {
  position: relative;
  padding: 220px 0;
}

.financial-cover-img {
  position: absolute;
  height: 100%;
  width: auto;
  left: 25%;
  top: 0;
  transform: translateX(-30%);
  z-index: -1;
}

.cover-financials-title {
  margin-bottom: 32px;
}