
section.faq-section {
  padding: 80px 0;
  background-color: $purple-2;
}

.faq-title {
  margin-bottom: 56px;
}

.faq {
  border: 1px solid #C6CBDD;
  background-color: #fff;
  border-radius: 12px;

  &__question {
    padding: 24px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: padding 0.3s ease;

    .faq-question-icon {
      width: 14px;
      height: 14px;
      display: inline-flex;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);

      &:before {
        content: '';
        width: 14px;
        height: 2px;
        background-color: $gray-500;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:after {
        content: '';
        width: 14px;
        height: 2px;
        background-color: $gray-500;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: transform 0.3s ease;
      }
    }
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &__answer {
      padding: 0 24px 24px 24px;
      max-width: 445px;
      font-size: 16px;
    }
  }
}


.faq--opened {
  .faq__question {
    .faq-question-icon {
      &:after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }

  .faq-content {
    max-height: 300px;
  }
}