section.history-section {
  padding: 100px 0;
  text-align: center;
}

.history-title {
  margin-bottom: 32px;
}

.history-text {
  margin-bottom: 48px;
}

.history-img {
  background-color: #17205B;
  border-radius: 16px;
  padding-top: 400/720*100%;
  width: 100%;
}