
section.home-intro-section {
  min-height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-intro-bg {
  @extend %absolute;
  z-index: -1;

  img {
    @extend %obj-cover;
    width: 100%;
    height: 100%;
  }

}

.home-intro {
  position: relative;
  padding: 50px 0;

  &__title {
    font-size: 50px;
    color: #fff;
    margin-bottom: 24px;
  }

  &__text {
    color: #E3E5ED;
  }

  &__btn {
    margin-top: 40px;
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
  }
}

.intro-overview-wrap {
  margin-top: 100px;
  display: flex;

  .intro-overview {
    display: inline-flex;

    &__icon {
      width: 28px;
      height: 28px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $gray-400;
      margin-right: 10px;

      svg {
        fill: #fff;
      }
    }

    &-content {
      &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #fff;
      }

      &__text {
        color: $gray-400;
        margin-top: 8px;

        svg {
          width: 15px;
          height: 15px;
          fill: $gray-400;
          margin: 0 5px;
        }
      }
    }

    &:after {
      content: '';
      width: 1px;
      background-color: $gray-400;
      height: 100%;
      margin: 0 40px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

