<div id="contact-us-modal" class="modal contact-us">

    <div class="modal-content">
        <span class="close" id="close-contact-us">
            <i class="icon-close-modal"></i>
        </span>

        <div class="mailbox-block"></div>
        <div class="form-block">
            <h2>Contact Us</h2>
            <div class="form-submit is-hidden has-top-margin-70">
                <h3 class="has-bottom-margin-50">Message received!</h3>
                <p class="has-bottom-margin-32">Someone from our team <br>will get back to you shortly.</p>
                <a class="button is-green is-full is-contact-us has-top-margin-70" href="/">Back to Home Page</a>
            </div>

            <form class="form" data-netlify="true" name="contact" novalidate>
                <p>If you have any questions, inquiries, or any feedback, please send us a message</p>

                <div class="control has-icons-right is-clearfix">
                    <input type="text" placeholder="Name"
                           name="name" class="input">
                    <span class="icon is-right is-clickable"><i class="icon-profile"></i></span>
                    <span class="error-message">Please enter your name</span>
                </div>
                <div class="control has-icons-right is-clearfix">
                    <input type="email" placeholder="Email"
                           name="email" class="input" required>
                    <span class="icon is-right is-clickable"><i class="icon-email"></i></span>
                    <span class="error-message">Please enter a valid email address</span>
                </div>
                <div class="control is-clearfix">
                    <textarea placeholder="Your message"
                              name="message"
                              class="input"></textarea>

                    <div class="recaptcha">This site is protected by reCAPTCHA and the Google
                    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                        <a href="https://policies.google.com/terms">Terms of Service</a> apply.</div>

                    <span class="error-message">Please enter your message</span>
                </div>

                <button class="button is-green is-full is-contact-us has-top-margin-30" type="submit">Send</button>
            </form>

        </div>
    </div>

</div>
