<footer class="footer">
    <div class="container w-100">
        <div class="level has-bottom-margin-16">
            <div class="footer__links level-left">
                <a href="/our-story" class="link" title="Our Story">Our Story</a>
                <a href="/our-vision" class="link" title="FAQ">Our Vision</a>
                <a href="/privacy" class="link" title="Privacy & Security">Privacy & Security</a>
                <a href="/terms" class="link" title="Terms of Use">Terms of Use</a>
                <a href="/faq" class="link" title="FAQ">FAQ</a>
<!--                <a href="#" class="link" title="Blog">Blog</a>-->
            </div>
            <div class="level-right is-hidden-mobile">
                <img src="/images/logo-white.svg" class="logo"/>
            </div>
        </div>
        <div class="level">
            <div class="social level-left">
                <a href="https://twitter.com/Claritus_app" target="_blank"><img src="/images/twitter.svg" class="has-right-margin-24" /></a>
                <a href="https://www.linkedin.com/company/claritus-io/" target="_blank"><img src="/images/linkedin.svg" /></a>
            </div>
            <div class="level-right">
                <img src="/images/logo-white.svg" class="logo is-hidden-tablet has-bottom-margin-20"/>
                <div class="author text-white">© 2020 Clear Value Ltd.</div>
            </div>
        </div>
    </div>
</footer>
