<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <a href="/" class="footer-logo">
                    <img src="/images/logo-white.svg" alt="Claritus logo">
                </a>

                <p class="footer-logo-description">
                    Keep Track of Your Wealth, Simply
                </p>

                <div class="footer-social">
                    <a href="#" class="footer-social__item">
                        <svg width="24" height="24">
                            <use xlink:href="#twitter-icon"></use>
                        </svg>
                    </a>

                    <a href="#" class="footer-social__item">
                        <svg width="24" height="24">
                            <use xlink:href="#facebook-icon"></use>
                        </svg>
                    </a>

                    <a href="#" class="footer-social__item">
                        <svg width="24" height="24">
                            <use xlink:href="#linkedin-icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-xl col-xxl-4">
                <div class="footer-subscribe">
                    <h3 class="footer-subscribe__title">
                        Subscribe to get the latest updates
                    </h3>

                    <div class="footer-subscribe-step1">
                        <div class="field footer-subscribe__field">
                            <input id="footer-newsletter-email" type="text" placeholder="Add your email...">
                        </div>

                        <label class="checkbox footer-subscribe__checkbox">
                            <input type="checkbox" class="checkbox__input">
                            <span class="checkbox__check"></span>
                            <p class="checkbox__label">
                                Accept <a href="/terms/">Terms of Service</a> and <a href="/privacy/">Privacy Policy</a>
                            </p>
                        </label>

                        <button type="submit" class="footer-subscribe__btn btn btn--primary">
                            <span class="btn__text">Subscribe</span>

                            <div class="loader"></div>
                        </button>
                    </div>

                    <div class="footer-subscribe-step2">
                        Thank you!
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-2  col-xxl-3">
                <div class="footer-list">
                    <a href="/about-us/" class="footer-list__item"> About Us</a>
                    <a href="/about-us/#our-story" class="footer-list__item"> Our Story</a>
                    <a href="/contact-us/" class="footer-list__item"> Contact Us</a>
                    <a href="/terms/" class="footer-list__item">Terms</a>
                    <a href="/privacy/" class="footer-list__item"> Privacy Policy</a>
                </div>
            </div>
            <div class="col-6 col-xl-2  col-xxl-2">
                <div class="footer-list">
                    <a href="/how-it-work/" class="footer-list__item">How Claritus work</a>
                    <a href="/why-claritus/" class="footer-list__item">Why Claritus</a>
                    <a href="/security/" class="footer-list__item">Security</a>
                    <a href="/pricing/" class="footer-list__item">Pricing</a>
                    <a href="/blog/" class="footer-list__item">Blog</a>
                    <a href="/refer-a-friend" class="footer-list__item">Refer a friend</a>
                    <a href="https://help.claritus.io" title="Get Claritus help"
                       target="_blank"
                       class="footer-list__item">Help Center</a>
                </div>
            </div>
        </div>
    </div>

    <div class="dev-line">
        <p class="dev-line__text">
            © 2022 Claritus Financial Solutions, Inc.
        </p>
    </div>
</footer>
