<footer class="footer-section">

    <button type="button" class="scroll-top">
        <figure class="scroll-top__icon">
            <svg width="15" height="15">
                <use xlink:href="#arrow-long-icon"></use>
            </svg>
        </figure>
        Go Up
    </button>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <a href="/" class="footer-logo">
                    <img src="/images/logo-white.png" alt="Claritus logo">
                </a>

                <p class="footer-logo-description">
                    Keep Track of Your Wealth, Simply
                </p>

                <div class="footer-social">
                    <a href="#" class="footer-social__item">
                        <svg width="24" height="24">
                            <use xlink:href="#twitter-icon"></use>
                        </svg>
                    </a>

                    <a href="#" class="footer-social__item">
                        <svg width="24" height="24">
                            <use xlink:href="#facebook-icon"></use>
                        </svg>
                    </a>

                    <a href="#" class="footer-social__item">
                        <svg width="24" height="24">
                            <use xlink:href="#linkedin-icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-xl col-xxl-4">
                <div class="footer-subscribe">
                    <h3 class="footer-subscribe__title">
                        Subscribe to get the latest updates
                    </h3>

                    <div class="field footer-subscribe__field">
                        <input id="footer-newsletter-email" type="text" placeholder="Add your email...">
                    </div>

                    <label class="checkbox footer-subscribe__checkbox">
                        <input type="checkbox">
                        <span class="checkbox__field"></span>
                        <p class="checkbox__label">Accept Terms of Service and Privacy Policy</p>
                    </label>

                    <button type="submit" class="footer-subscribe__btn btn btn--primary">Subscribe</button>
                </div>
            </div>
            <div class="col-6 col-xl-2  col-xxl-3">
                <div class="footer-list">
                    <a href="/about-us/" class="footer-list__item"> About Us</a>
                    <a href="/our-story/" class="footer-list__item"> Our Story</a>
                    <a href="/contact-us/" class="footer-list__item"> Contact Us</a>
                    <a href="/terms/" class="footer-list__item">Terms</a>
                    <a href="/privacy/" class="footer-list__item"> Privacy Policy</a>
                </div>
            </div>
            <div class="col-6 col-xl-2  col-xxl-2">
                <div class="footer-list">
                    <a href="/how-it-work/" class="footer-list__item"> How Claritus work</a>
                    <a href="/why-claritus/" class="footer-list__item"> Why Claritus</a>
                    <a href="/security/" class="footer-list__item">Security</a>
                    <a href="/pricing/" class="footer-list__item">Pricing</a>
                    <a href="/blog/" class="footer-list__item">Blog</a>
                    <a href="#" class="footer-list__item"> Refer a friend</a>
                    <a href="https://help.claritus.io" title="Get Claritus help"
                       target="_blank"
                       class="footer-list__item"> Help Center</a>
                </div>
            </div>
        </div>
    </div>

    <div class="dev-line">
        <p class="dev-line__text">
            © 2022 Claritus Financial Solutions, Inc.
        </p>
    </div>
</footer>


<!--<div id="otstup"></div>-->