<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
            <div class="glide__slide">
                <div class="slide-image">
                    <img src="/images/banner-slide-1.png"/>
                </div>
                <div class="slide-content">
                    <h2 class="slide-title">
                        We Do the Work For You
                    </h2>
                    <div class="slide-text">
                        Real-time data from over 17,000 global banks, brokerages,
                        and other financial institutions -
                        all at your fingertips.
                    </div>
                </div>
            </div>
            <div class="glide__slide">
                <div class="slide-image">
                    <img src="/images/banner-slide-2.png"/>
                </div>
                <div class="slide-content">
                    <h2 class="slide-title">
                        Track and Compare
                    </h2>
                    <div class="slide-text">
                        Track and sort by any asset and compare between investment types and performances easily.
                    </div>
                </div>
            </div>
            <div class="glide__slide">
                <div class="slide-image">
                    <img src="/images/banner-slide-3.png"/>
                </div>
                <div class="slide-content">
                    <h2 class="slide-title">
                        A clear look forward and back
                    </h2>
                    <div class="slide-text">
                        Upload your investments’ historical data, and measure
                        their performances over time clearly and objectively.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img src="/images/slider-left.svg" /></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img src="/images/slider-right.svg" /></button>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
</div>