<header class="header-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-3">
                <a href="/" class="header-logo">
                    <img src="/images/logo-white.png" alt="Claritus logo"
                         class="header-logo__img header-logo__img--white">
                    <img src="/images/logo-dark.png" alt="Claritus logo"
                         class="header-logo__img header-logo__img--dark">
                </a>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <nav class="header-nav">
                    <a href="#" class="header-nav__item">About Us</a>
                    <a href="#" class="header-nav__item">Security</a>
                    <a href="#" class="header-nav__item">Pricing</a>
                    <a href="#" class="header-nav__item">Blog</a>
                </nav>
            </div>
            <div class="col-xl-3">
                <div class="header-auth">
                    <a href="#" class="header-auth__btn btn btn--transparent">
                        Sign in
                    </a>

                    <a href="#" class="header-auth__btn btn btn--primary">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>