<header class="header is-transparent">
    <nav class="nav on-section-1">
        <img class="logo" src="/images/logo-black.svg" />

        <div class="links">
            <a class="button is-login is-hidden-mobile" href="{{ .Site.Params.appUrl }}/sign-in">Log In</a>
            <a class="button is-join is-hidden-mobile" href="{{ .Site.Params.appUrl }}/on-boarding">Sign Up</a>

            <div class="burger" id="menu-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</header>
