<div class="header-nav-menu d-xl-none">
	<div class="nav-menu-mask"></div>

	<div class="nav-menu">
		<div class="nav-menu-header">
			<a href="/" class="nav-menu-header__logo">
				<img src="/images/logo-dark.png" alt="Claritus logo">
			</a>

			<button class="nav-menu-header__close">
				<svg width="10" height="10">
					<use xlink:href="#close-icon"></use>
				</svg>
			</button>
		</div>

		<nav class="nav-menu-list">
			<a href="#" class="nav-menu-list__item">
				About Us
			</a>
			<a href="#" class="nav-menu-list__item">
				Security
			</a>
			<a href="#" class="nav-menu-list__item">
				Pricing
			</a>
			<a href="#" class="nav-menu-list__item">
				Blog
			</a>
		</nav>

		<div class="nav-menu-auth">
			<a href="#" class="nav-menu-auth__btn btn btn--transparent">
				Sign in
			</a>

			<a href="#" class="nav-menu-auth__btn btn btn--primary">
				Sign Up
			</a>
		</div>
	</div>
</div>