<div class="header-nav-menu d-xl-none">
	<div class="nav-menu-mask"></div>

	<div class="nav-menu">
		<div class="nav-menu-header">
			<a href="/" class="nav-menu-header__logo">
				<img src="/images/logo-dark.svg" alt="Claritus logo">
			</a>

			<button class="nav-menu-header__close">
				<svg width="10" height="10">
					<use xlink:href="#close-icon"></use>
				</svg>
			</button>
		</div>

		<nav class="nav-menu-list">
			<a href="/about-us/" class="nav-menu-list__item" data-link="about-us">
				About Us
			</a>
			<a href="/security/" class="nav-menu-list__item" data-link="security">
				Security
			</a>
			<a href="/pricing/" class="nav-menu-list__item" data-link="pricing">
				Pricing
			</a>
			<a href="/blog/" class="nav-menu-list__item" data-link="blog">
				Blog
			</a>
		</nav>

		<div class="nav-menu-auth">
			<a href="https://app.claritus.io/login" class="nav-menu-auth__btn btn btn--transparent">
				Log In
			</a>

			<a href="https://app.claritus.io/on-boarding" title="Start Your 14 Days Free Trial" class="nav-menu-auth__btn btn btn--primary">
				Sign Up
			</a>
		</div>
	</div>
</div>