<footer class="footer">
    <div class="links">
        <a href="/about-us" class="link" title="About Us">About Us</a>
            <a href="/our-story" class="link" title="Our Story">Our Story</a>
            <a href="/faq" class="link" title="FAQ">FAQ</a>
            <a href="/blog" class="link" title="Blog">Blog</a>
            <a href="/contact-us" class="link" title="Contact Us">Contact Us</a>
            <a href="/privacy" class="link" title="Privacy">Privacy Policy</a>
            <a href="/terms" class="link" title="Terms of Use">Terms of Use</a>
    </div>

    <div class="social-block">
        <div class="social has-bottom-margin-50 is-hidden-tablet">
            <a href="https://www.linkedin.com/company/claritus-io/" target="_blank" rel="noopener"><img src="/images/linkedin-fill.svg" class="has-right-margin-40"></a>
            <a href="https://www.facebook.com/Claritus.io" target="_blank" rel="noopener"><img src="/images/icon-facebook.svg"></a>
            <img src="/images/logo-white.svg" class="logo">
        </div>
        <div class="social is-visible-tablet">
            <img src="/images/logo-white.svg" class="logo">
            <div class="icons-block">
                <a href="https://www.linkedin.com/company/claritus-io/" target="_blank" rel="noopener"><img src="/images/linkedin-fill.svg" class="has-right-margin-40"></a>
                <a href="https://www.facebook.com/Claritus.io" target="_blank" rel="noopener"><img src="/images/icon-facebook.svg"></a>
            </div>
        </div>
    </div>
    <p class="copyright">&copy; {{ now.Year }} Clear Value ltd.</p>
</footer>
