<footer class="footer">
    <div class="links">
        <a href="/our-story" class="link" title="Our Story">Our Story</a>
        <a href="/faq" class="link" title="FAQ">FAQ</a>
        <a href="/privacy" class="link" title="Privacy">Privacy & Security</a>
        <!-- <a href="/blog" class="link" title="Blog">Blog</a>-->
        <a href="/terms" class="link" title="Terms">Terms</a>
    </div>

    <div class="social-block">
        <div class="social has-bottom-margin-50 is-hidden-touch">
            <a href="https://www.linkedin.com/company/claritus-io/" target="_blank" rel="noopener"><img src="/images/linkedin-fill.svg" class="has-right-margin-40"></a>
            <a href="https://www.facebook.com/Claritus.io" target="_blank" rel="noopener"><img src="/images/icon-facebook.svg"></a>
            <img src="/images/logo-white.svg" class="logo">
        </div>
        <div class="social is-visible-touch">
            <img src="/images/logo-white.svg" class="logo">
            <div class="icons-block">
                <a href="https://www.linkedin.com/company/claritus-io/" target="_blank" rel="noopener"><img src="/images/linkedin-fill.svg" class="has-right-margin-40"></a>
                <a href="https://www.facebook.com/Claritus.io" target="_blank" rel="noopener"><img src="/images/icon-facebook.svg"></a>
            </div>
        </div>
    </div>
    <p class="copyright">&copy; {{ now.Year }} Clear Value ltd.</p>
</footer>
