<section id="menu" class="menu">
    <div class="background"></div>
    <div class="menu-content">
        <img src="/images/white-hexagon.svg" class="white-hexagon">
        <div class="menu-controls">
            <img src="/images/icon-close.svg" class="icon-close" id="icon-close">
        </div>

        <div class="menu-list">
            <ul>
                <li><a href="/our-story" class="link" title="Our Story">Our Story</a></li>
                <li><a href="/privacy" class="link" title="Privacy">Privacy & Security</a></li>
<!--                <li><a href="/blog" class="link" title="Blog">Blog</a></li>-->
                <li><a href="/faq" class="link" title="FAQ">FAQ</a></li>
                <li><a href="/terms" class="link" title="Terms">Terms</a></li>
            </ul>
        </div>

    </div>
</section>
