<section id="menu" class="menu">
    <div class="background"></div>
    <div class="menu-content">
        <div class="menu-controls">
            <img src="/images/icon-close.svg" class="icon-close" id="icon-close">
        </div>

        <div class="menu-list">
            <ul>
                <li><a href="/about-us" class="link" title="About Us">About Us</a></li>
                <li><a href="/our-story" class="link" title="Our Story">Our Story</a></li>
                <li><a href="/faq" class="link" title="FAQ">FAQ</a></li>
                <li><a href="mailto:help@claritus.io" class="link contact-us-link" title="email claritus.io">Contact Us</a></li>
            </ul>

            <div>
                <div class="social has-bottom-margin-50">
                    <a href="https://www.linkedin.com/company/claritus-io/" target="_blank">
                        <img src="/images/icon-linkedin.svg" class="has-right-margin-40" /></a>
                    <a href="https://twitter.com/Claritus_app" target="_blank">
                        <img src="/images/icon-twitter.svg" /></a>
                </div>
                <p class="copyright">&copy; 2020 Clear Value ltd.</p>
            </div>
        </div>

    </div>
</section>
