<header class="header {{ .Params.header_class }}">
    <nav class="nav">
        <a href="/" title="Claritus.io homepage">
            <img class="logo logo-white" src="/images/logo-white.svg" />
            <img class="logo logo-black" src="/images/logo-black.svg" />
        </a>

        <div class="links">
            <a class="button is-login" href="{{ .Site.Params.appUrl }}/sign-in">Sign In</a>
            <a class="button is-join" href="{{ .Site.Params.appUrl }}/on-boarding">Sign Up</a>

            <div class="burger" id="menu-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</header>
