<nav class="cv-header level navbar is-fixed-top header-shadow">
    <div class="level-left">
        <div class="level-item">
            <a href="/"><img src="/images/logo.svg" class="logo"/></a>
            <span id="nav-toggle-fixed" class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <a class="nav-link text-white" href="/our-story">
                Our Story
            </a>
            <a class="nav-link text-white" href="#pricing">
                Pricing
            </a>
            <a class="nav-link text-white" href="{{ $.Site.Params.appUrl }}/sign-in">
                Sign In
            </a>
            <a href="{{ $.Site.Params.appUrl }}/on-boarding" class="button btn-white-outline">Sign Up</a>
        </div>
    </div>
</nav>
