<section class="sign-up-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div
                    class="sign-up lozad"
                    data-background-image="/images/sign-up-bg.jpg"
                >
                    <button type="button" class="scroll-top d-none d-xl-flex">
                        <figure class="scroll-top__icon">
                            <svg width="15" height="15">
                                <use xlink:href="#arrow-long-icon"></use>
                            </svg>
                        </figure>
                        Go Up
                    </button>

                    <h2 class="sign-up__title">Keep Track of Your Wealth, <em class="sign-up__title-point">Simply</em></h2>

                    <p class="sign-up__text">
                        Claritus gives you a complete overview of your money and investments, offering accurate insight and assessments. Claritus is the platform every investor needs to make decisions with clarity and confidence. 
                    </p>

                    <a href="https://app.claritus.io/on-boarding" title="Start Your 14 Days Free Trial" class="sign-up__button btn btn--small btn--primary">
                        Start Your 14 Days Free Trial
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>