<section class="sign-up-section {{ .sectionClass }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div
                    class="sign-up lozad"
                    data-background-image="/images/sign-up-bg.jpg"
                >
                    <button type="button" class="scroll-top d-none d-xl-flex">
                        <figure class="scroll-top__icon">
                            <img src="/images/arrow-up.svg" alt="Arrow up">
                        </figure>
                        Go Up
                    </button>

                    <h2 class="sign-up__title">Keep Track of Your Wealth, <span class="sign-up__title-point">Simply</span></h2>

                    <p class="sign-up__text">
                        Claritus is the platform every investor needs to make decisions with clarity and confidence
                    </p>

<!--                    <a href="https://app.claritus.io/on-boarding" title="Start Your 14 Days Free Trial" class="sign-up__button btn btn&#45;&#45;small btn&#45;&#45;primary">-->
<!--                        Start Your 14 Days Free Trial-->
<!--                    </a>-->
                </div>
            </div>
        </div>
    </div>
</section>