<section class="sign-up-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div
                        class="sign-up lozad"
                        data-background-image="/images/sign-up-bg.jpg"
                >

                    <button type="button" class="scroll-top d-none d-xl-flex">
                        <figure class="scroll-top__icon">
                            <svg width="15" height="15">
                                <use xlink:href="#arrow-long-icon"></use>
                            </svg>
                        </figure>
                        Go Up
                    </button>

                    <h2 class="sign-up__title">Sign up today</h2>

                    <p class="sign-up__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus
                    </p>

                    <a href="#" class="btn btn--small btn--primary">
                        Try now for free
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>