<div class="social-proof">
    <img src="/images/hero-image-mobile.jpg" class="mobile-image" />
    <div class="sp-container">
        <div class="sp-assets">
            <div class="is-green">$3+ Billion</div>
            Assets value
        </div>
        <div class="sp-secure">
            <img src="/images/icon-security.svg">
            <div>
                <span>Private & Secured</span>
                <span>Bank-Level security</span>
            </div>
        </div>
        <div class="sp-trust">
            <div>Trusted by over 17K financial institutions</div>
            <img src="/images/institutions-trust.gif"/>
        </div>
        <!--    <div class="sp-quote">-->
        <!--        <div class="quote-item"><q>fantastic! The app is really well designed, loads very fast and I really appreciate the subtle details that have been included. I'm very happy to have found it.</q></div>-->
        <!--    </div>-->
    </div>
</div>