.faq {
  border: 1px solid #c6cbdd;
  background-color: #fff;
  border-radius: 0.75rem;
  margin-bottom: 1.125rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(40);
  }

  &__question {
    padding: 1.5rem;
    padding-right: 61px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 1.125rem;
    position: relative;
    transition: padding 0.3s ease;

    .faq-question-icon {
      width: 0.875rem;
      height: 0.875rem;
      display: inline-flex;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);

      &:before {
        content: "";
        width: 0.875rem;
        height: 2px;
        background-color: $gray-500;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:after {
        content: "";
        width: 0.875rem;
        height: 2px;
        background-color: $gray-500;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: transform 0.3s ease;
      }
    }
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &__answer {
      padding: 0 1.5rem 1.5rem 1.5rem;
      max-width: 445px;
      font-size: 1rem;
    }
  }
}

.faq--opened {
  .faq__question {
    .faq-question-icon {
      &:after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }

  .faq-content {
    max-height: 300px;
  }
}
