.range-slider {
    margin-bottom: 20px;
}

.rangeslider {
    background-color: #bebebe;

    &--horizontal {
        height: 1px;

        .rangeslider__handle {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__fill {
        background-color: $primary;
    }

    &__handle {
        height: 17px;
        width: 17px;
        background: none;
        box-shadow: none;
        background-color: $primary;
        border: none;
    }
}

.range-numbers {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        font-size: 14px;
        display: none;

        &:nth-of-type(1) {
            display: block;
        }
    
        &:nth-of-type(11) {
            display: block;
        }

        @media (min-width: map_get($grid-breakpoints, md)) {
            display: block;
        }
    }

    
}
