section.sign-up-section {
  padding: rem(50) 0;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding-bottom: rem(80);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding-top: rem(80);
    padding-bottom: rem(100);
  }
}

.sign-up {
  padding: 1rem;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 6px rem(40) rgba(152, 161, 220, 0.12);
  border-radius: 1rem;
  text-align: center;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(40) 3rem;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(40) rem(100);
  }

  &__title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      font-size: 2rem;
      line-height: 42px;
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    color: $gray-200;
    margin-bottom: 1.5rem;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      margin-bottom: 2rem;
    }
  }

  &__btn {
    padding: 11px 1rem;
  }
}
