.feedback-slider-wrap {
  width: 100%;
  max-width: rem(1600);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.flickity-slider {
  height: 100%;
}

.feedback-slider {
  width: 100%;
  outline: none;
  padding-bottom: rem(40);

  &__item {
    width: 85%;
    padding: 1rem;
    display: inline-flex;
    min-height: 100%;

    @media (min-width: map_get($grid-breakpoints, md)) {
      width: 60%;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      width: 40%;
      padding: 0 1.5rem;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      width: 30%;
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
      width: 25%;
    }
  }
}

.feedback {
  min-height: rem(416);
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 2rem rem(26);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0.75rem 1.5rem rgba(5, 13, 66, 0.12);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 2rem;
  }

  &__text {
    font-weight: 500;
    font-size: 1.125rem;
    flex-grow: 1;

    @media (min-width: map_get($grid-breakpoints, md)) {
      font-size: rem(22);
    }
  }

  &__name {
    margin-top: 2rem;
    color: $dark-8;
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(21);
  }
}

.slider-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-arrow {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border: 1px solid $gray-100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 rem(20);
  border-radius: 50%;

  svg {
    fill: $gray-500;
  }

  &:hover {
    background-color: $gray-100;

    svg {
      fill: #fff;
    }
  }

  &--prev {
    transform: rotate(-180deg);
  }
}
