@media (min-width: map_get($grid-breakpoints, xl)) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .row {
    margin-left: -2rem;
    margin-right: -2rem;

    &.no-gutters {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
