section.advisors-section {
  overflow: visible;
  padding: rem(24) 0 80vw;
  background-color: $purple-200;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(80) 0 rem(500);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(72) 0 rem(492);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(72) 0 rem(492);
  }
}

.advisors {
  @media (min-width: map_get($grid-breakpoints, xl)) {
    text-align: center;
    margin: 0 auto;
  }
}

.advisors__title {
  margin-bottom: rem(24);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(32);
  }
}

.advisors__text {
  margin-bottom: rem(40);
}

.advisors__btn {
  padding: rem(11) rem(15);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(11) rem(24);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(18) 2rem rem(17);
  }
}

.advisors-picture {
  img {
    display: block;
    position: absolute;
    left: 0;
    bottom: rem(-28);
    width: 100%;
    height: auto;

    @media (min-width: 550px) {
      bottom: rem(-48);
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
      bottom: rem(-30);
      left: 50%;
      transform: translateX(-50%);
      width: rem(845);
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      width: rem(788);
      bottom: rem(-6);
    }
  }
}

.advisors-scroll-top {
  left: 82%;
  bottom: rem(78);

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    left: 80.5%;
  }
}