section.assets-section {
  padding: rem(80) 0 52vw;
  overflow: visible;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(78) 0 rem(285);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(86) 0 rem(323);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(110) 0 rem(455);
  }
}

.assets {

  @media (min-width: map_get($grid-breakpoints, md)) {
    text-align: center;
    margin: 0 auto;
  }
}

.assets__title {
  margin-bottom: rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(24);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(32);
  }
}

.assets__text {
  margin-bottom: rem(32);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(40);
  }
}

.assets-picture {
  img {
    display: block;
    position: absolute;
    left: 0;
    bottom: rem(22);
    width: 100%;
    height: auto;
    z-index: -1;

    @media (min-width: map_get($grid-breakpoints, md)) {
      left: 0;
      bottom: rem(16);
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      left: 0;
      bottom: rem(44);
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
      left: 0;
      bottom: rem(24);
    }
  }
}
