section.benchmark-section {
  padding-bottom: 3.5rem;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(100) 0;
  }
}

.benchmark-title {
  margin-bottom: 2rem;
}

.benchmark-img {
  
}
