section.benchmark-section {
  padding-bottom: 3.5rem;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(100) 0;
  }
}

.benchmark-title {
  margin-bottom: 2rem;
}

.benchmark-img {
  background-color: #17205b;
  border-radius: 1rem;
  padding-top: 400/720 * 100%;
  margin-top: 3rem;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-top: 0;
  }
}
