section.financial-cover-section {
  position: relative;
  // padding-top: rem(40);

  // @media (min-width: map_get($grid-breakpoints, lg)) {
  //   padding: rem(120) 0;
  // }

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(44) 0 rem(606);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(302) 0 rem(100);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(310) 0 rem(100);
  }
}

.financial-cover {
  
  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-left: auto;
  }
}

.financial-cover__title {
  margin-bottom: rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(24);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(32);
  }
}

.financial-cover__text {
  margin-bottom: rem(32);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(40);
  }
}

.financial-cover-picture {
  img {
    position: static;
    width: 100%;
    max-width: rem(375);
    height: auto;
    z-index: -1;

    @media (min-width: map_get($grid-breakpoints, md)) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: rem(744);
      max-width: 100vw;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      bottom: auto;
      left: auto;
      transform: translateX(0);
      top: rem(79);
      right: 37.5%;
      width: 100%;
      max-width: 67vw;
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
      top: rem(87);
      right: 41.75%;
      max-width: rem(916);
    }
  }
}
