section.financial-cover-section {
  overflow: visible;
  padding: 0 0 106vw;
  
  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 0 0 rem(606);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(237) 0 rem(205);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(217) 0 rem(226);
  }
}

.financial-cover {
  
  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-left: auto;
  }
}

.financial-cover__title {
  margin-bottom: rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(24);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(32);
  }
}

.financial-cover__text {
  margin-bottom: rem(32);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(40);
  }
}

.financial-cover-picture {
  img {
    display: block;
    position: absolute;
    left: 0;
    bottom: rem(-75);
    width: 100%;
    height: auto;
    z-index: -1;

    @media (min-width: 500px) {
      bottom: rem(-100);
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
      max-width: rem(728);
      bottom: rem(44);
      left: 50%;
      transform: translateX(-46%);
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      max-width: 67vw;
      top: rem(74);
      right: 37%;
      bottom: auto;
      left: auto;
      transform: translateX(0);
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
      max-width: rem(916);
      top: 0;
      right: 41.75%;
    }
  }
}
