section.financial-cover-section {
  position: relative;
  padding-top: rem(40);

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: rem(120) 0;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(150) 0;
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(220) 0;
  }
}

.financial-cover-img {
  width: 100%;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    z-index: -1;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    z-index: -1;
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    left: 25%;
    transform: translateX(-30%);
  }
}

.cover-financials-title {
  margin-bottom: 1rem;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: 2rem;
  }
}
