section.faq-section {
  padding: 4rem 0 rem(40);
  background-color: $purple-200;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(66) 0 rem(40);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(80) 0 rem(50);
  }
}

.faq-title {
  max-width: rem(552);
  margin: 0 auto 2rem;
  font-size: 2rem;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    font-size: rem(40);
    max-width: unset;
    margin: 0 0 3.5rem;
  }
}
