section.feedback-section {
  padding: rem(56) 0 rem(56);
  background-color: $purple-200;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(74) 0 rem(64);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(124) 0 rem(64);
  }
}

.feedback-title {
  text-align: center;
  margin-bottom: rem(40);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: 3.5rem;
  }
}
