section.feedback-section {
  padding-top: rem(80);
  padding-bottom: 4rem;
  background-color: $purple-200;

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding-top: rem(124);
  }
}

.feedback-title {
  text-align: center;
  margin-bottom: rem(40);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: 3.5rem;
  }
}
