section.financials-institutes-section {
  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding-top: rem(25);
  }
}

.financials-title {
  color: $dark-7;
  font-weight: 700;
  font-size: rem(20);
  line-height: rem(26);
  margin-bottom: rem(20);
  padding: 0 rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: rem(31);
    margin-bottom: rem(16);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(24);
  }
}

.financials-institutes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: rem(48);
  margin-top: rem(-24);
  padding: 0 rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    justify-content: center;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    min-height: rem(64);
  }
}

.financials-institutes__item {
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: rem(24);

  &:not(:last-child) {
    margin-right: rem(24);
  }

  @media (min-width: map_get($grid-breakpoints, md)) {
    flex-grow: 0;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    &:not(:last-child) {
      margin-right: rem(64);
    }
  }
}

.financials-institutes__image {
  &--desktop {
    display: none;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      display: block;
    }

    &-0 {
      width: rem(109);
    }

    &-1 {
      width: rem(151);
    }

    &-2 {
      width: rem(163);
    }

    &-3 {
      width: rem(142);
    }
  }

  &--tablet {
    display: none;

    @media (min-width: map_get($grid-breakpoints, md)) {
      display: block;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      display: none;
    }

    &-0 {
      width: rem(90);
    }

    &-1 {
      width: rem(141);
    }

    &-2 {
      width: rem(145);
    }

    &-3 {
      width: rem(104);
    }
  }

  &--mobile {
    display: block;

    @media (min-width: map_get($grid-breakpoints, md)) {
      display: none;
    }

    &-0 {
      width: rem(103);
    }

    &-1 {
      width: rem(138);
    }

    &-2 {
      width: rem(131);
    }

    &-3 {
      width: rem(144);
    }
  }
}
