section.financials-institutes-section {
  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding-top: rem(25);
  }
}

.financials-title {
  color: $dark-7;
  font-weight: 700;
  font-size: rem(20);
  line-height: rem(26);
  margin-bottom: rem(20);
  padding: 0 rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: rem(31);
    margin-bottom: rem(16);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(24);
  }
}

.financials-slider {
  display: flex;
  width: 100%;
  max-width: rem(1190);
  min-height: rem(48);
  margin: 0 auto;
  overflow: hidden;

  &__item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
    min-height: 100%;
    padding: 0 rem(16);
    animation: fadeIn 1s;

    &.is-hidden {
      opacity: 0;
      transition: opacity 1s linear;
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
      width: 16.666%;
      padding: 0 rem(20);
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding: 0 rem(35);
    }

    img {
      width: auto;
      max-width: 100%;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
