section.history-section {
  padding: 3.5rem 0;

  @media (min-width: map_get($grid-breakpoints, md)) {
    text-align: center;
    padding: rem(80) 0;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(100) 0;
  }
}

.history-title {
  margin-bottom: 1.5rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: 2rem;
  }
}

.history-text {
  margin-bottom: 3rem;
}

.history-img {
//  background-color: #17205b;
  border-radius: 1rem;
//  padding-top: 400/720 * 100%;
//  width: 100%;
}
