section.secure-section {
  padding: rem(48) 0 rem(278);
  overflow: visible;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(64) 0 rem(328);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(165) 0 rem(165);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(192) 0 rem(192);
  }
}

.secure__title {
  margin-bottom: rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(24);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(32);
  }
}

.secure__text {
  margin-bottom: rem(32);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(40);
  }
}

.secure-picture {
  img {
    display: block;
    position: absolute;
    right: 0;
    bottom: rem(-12);
    z-index: -1;

    @media (min-width: map_get($grid-breakpoints, md)) {
      bottom: rem(44);
      right: 0;
    }
  
    @media (min-width: map_get($grid-breakpoints, xl)) {
      top: 0;
      left: 18%;
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
      top: rem(-40);
      left: 28%;
    }

    @media (min-width: 1500px) {
      top: rem(-40);
      left: 34%;
    }
  }
}
