section.secure-section {
  position: relative;
  // padding-top: rem(50);

  // @media (min-width: map_get($grid-breakpoints, lg)) {
  //   padding: rem(70) 0;
  // }

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(84) 0 rem(260);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(210) 0 rem(100);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(214) 0 rem(100);
  }
}

.secure__title {
  margin-bottom: rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(24);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(32);
  }
}

.secure__text {
  margin-bottom: rem(32);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(40);
  }
}

.secure-picture {
  img {
    z-index: -1;

    @media (min-width: map_get($grid-breakpoints, md)) {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      right: auto;
      bottom: auto;
      top: rem(44);
      left: 20%;
    }
  
    @media (min-width: map_get($grid-breakpoints, xxl)) {
      top: rem(-20);
      left: 34%;
    }
  }
}
