section.simple-pricing-section {
  padding-top: 3rem;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding-top: rem(80);
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: rem(100) 0;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(210) 0;
  }
}

.simple-pricing {
  width: 100%;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    max-width: rem(400);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    max-width: rem(580);
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: rem(40);
  }

  &__btns {
    display: flex;
    align-items: center;

    .btn {
      margin-right: 1rem;
    }
  }
}

.simple-pricing-img {
  width: 100%;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    z-index: -1;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    left: 30%;
    transform: translateX(-50%);
  }
}
