section.simple-pricing-section {
  padding: rem(48) 0 100vw;
  overflow: visible;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: rem(80) 0 rem(536);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(205) 0 rem(197);
  }

  @media (min-width: map_get($grid-breakpoints, xxl)) {
    padding: rem(236) 0 rem(202);
  }
}

.simple-pricing {
  
  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-left: auto;
  }
}

.simple-pricing__title {
  margin-bottom: rem(16);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(24);
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-bottom: rem(32);
  }
}

.simple-pricing__text {
  margin-bottom: rem(32);

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-bottom: rem(40);
  }
}

.simple-pricing__btns {
  display: flex;
  align-items: center;
}

.simple-pricing__btn {
  padding: rem(11) rem(15);

  @media (min-width: 375px) {
    padding: rem(11) rem(24);
  }
  
  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: rem(18) 2rem rem(17);
  }

  &:not(:last-child) {
    margin-right: rem(24);
    
    @media (min-width: 375px) {
      margin-right: rem(32);
    }
  }
}

.simple-pricing-picture {
  img {
    display: block;
    position: absolute;
    left: 0;
    bottom: rem(-102);
    width: 100%;
    height: auto;
    z-index: -1;

    @media (min-width: 500px) {
      bottom: rem(-140);
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
      max-width: rem(737);
      bottom: rem(-54);
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      max-width: rem(737);
      top: rem(50);
      right: 49.75%;
      bottom: auto;
      left: auto;
      transform: translateX(0);
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
      max-width: rem(737);
      top: rem(80);
      right: 50.55%;
    }
  }
}
