section.simple-pricing-section {
  padding-top: 48px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding-top: 80px;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: 100px 0;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: 210px 0;
  }
}

.simple-pricing {
  width: 100%;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    max-width: 400px;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    max-width: 580px;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: rem(40);
  }

  &__btns {
    display: flex;
    align-items: center;

    .btn {
      padding: 14px 1rem;
      margin-right: 1rem;
    }
  }
}

.simple-pricing-img {
  width: 100%;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    z-index: -1;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    left: 30%;
    transform: translateX(-50%);
  }
}
