{{ define "content" }}

<header class="header-section header-section--white">
    {{ partial "header.html" }} {{ partial "header-nav-menu.html" }}
</header>

<section class="security-intro-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <h1 class="security-intro-title">
                    {{ .Title }}
                </h1>

                <p class="security-intro-text">
                    {{ .Description }}
                </p>
            </div>
        </div>
    </div>

    <img src="/images/security/security-intro-bg.svg" alt="" class="security-intro-bg">
</section>


<section class="security-content-section">
    <div class="container">
        <div class="security-content-item">
            <div class="row align-items-center">
                <div class="col-xl-5">
                    <figure class="security-content-img">
                        <img src="{{ .Params.protectedImg }}" alt="">
                    </figure>
                </div>
                <div class="col-xl-7">
                    <h2 class="security-content-title">
                        {{ .Params.protectedTitle | safeHTML }}
                    </h2>
                    <p class="security-content-description">
                        {{ .Params.protectedText | safeHTML }}
                    </p>
                    <div class="security-content">
                        {{ .Params.protectedContent | safeHTML }}
                    </div>
                </div>
            </div>
        </div>

        <div class="security-content-item">
            <div class="row align-items-center">
                <div class="col-xl-7">
                    <h2 class="security-content-title">
                        {{ .Params.respectTitle | safeHTML }}
                    </h2>

                    <p class="security-content-description">
                        {{ .Params.respectText | safeHTML }}
                    </p>
                    <div class="security-content">
                        {{ .Params.respectContent | safeHTML }}
                    </div>
                </div>
                <div class="col-xl-5">
                    <figure class="security-content-img">
                        <img src="{{ .Params.respectImg }}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="security-disclaimer-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9">
                <div class="security-disclaimer">
                    {{ .Params.securityDisclaimer }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }} {{ define "title" }}{{ .Title }}{{ end }}
