{{ define "content" }}

<header class="header-section header-section--white">
    {{ partial "header.html" }}
    {{ partial "header-nav-menu.html" }}
</header>

<section class="why-intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <h1 class="why-intro-title">{{ .Title }}</h1>
                <p class="why-intro-subtitle">
                    {{ .Params.whySubtitle }}
                </p>

                <p class="why-intro-description">
                    {{ .Description }}
                </p>

                <a href="https://app.claritus.io/on-boarding" title="Start Your 14 Days Free Trial"
                   class="btn btn--primary simple-pricing__btn why-intro-button"> Start Your 14 Days Free Trial </a>
            </div>
        </div>
    </div>

    <img data-src="/images/why-images/why-intro-img.png" alt="" class="why-intro-img lozad"/>
</section>

<section class="why-content-section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-9">
                <h2 class="why-content-title">
                    {{ .Params.whyExcellenceMainTitle }}
                </h2>

                <p class="why-content-description">
                    {{ .Params.whyExcellenceMainDescription | safeHTML }}
                </p>
            </div>
        </div>

        <div class="why-content">
            <ul class="why-content-list">
                {{ range .Params.whyExcellenceMainList }}
                <li class="why-content-list__item">{{ .listItem }}</li>
                {{ end }}
            </ul>
        </div>

        <figure class="why-content-img">
            <img data-src="/images/why-images/why-graph-img.png" alt="" class="lozad"/>
        </figure>
    </div>
</section>

<section class="why-excellence-section">
    <div class="container">

        <div class="why-excellence">
            {{ range .Params.whyExcellence }}
            <div class="row">
                <div class="col-xl-7">
                    <h3 class="why-excellence-title">
                        {{ .title | safeHTML }}
                    </h3>

                    <p class="why-excellence-description">
                        {{ .description | safeHTML}}
                    </p>
                </div>

                <img data-src="{{ .img }}" alt="" class="why-excellence-img lozad"/>
            </div>
            {{ end }}
        </div>

    </div>
</section>

{{ partial "sign-up.html" }}

{{ end }} {{ define "title" }}{{ .Title }}{{ end }}
